In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import re
import torch
from rank_bm25 import BM25Okapi
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer
from transformers import BertTokenizer
from rank_bm25 import BM25Okapi
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics.pairwise import euclidean_distances
from sklearn.neighbors import NearestNeighbors
from sentence_transformers import SentenceTransformer, util
from sentence_transformers import SentenceTransformer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics import precision_score, recall_score, f1_score, accuracy_score, confusion_matrix

# Download stopwords 
import nltk
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/ramaalmrahleh/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/ramaalmrahleh/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [6]:
data = pd.read_csv("resume_dataset.csv")

In [7]:
print ("Displaying the distinct categories of resume and the number of records belonging to each category -")
print (data['Category'].value_counts())

Displaying the distinct categories of resume and the number of records belonging to each category -
Category
Java Developer               14
Database                     11
HR                           11
Data Science                 10
Advocate                     10
DotNet Developer              7
Hadoop                        7
DevOps Engineer               7
Automation Testing            7
Testing                       7
Civil Engineer                6
Business Analyst              6
SAP Developer                 6
Health and fitness            6
Python Developer              6
Arts                          6
Electrical Engineering        5
Sales                         5
Network Security Engineer     5
Mechanical Engineer           5
Web Designing                 5
ETL Developer                 5
Blockchain                    5
Operations Manager            4
PMO                           3
Name: count, dtype: int64

In [8]:
# Filter data for the "HR" category
Data_Science_data = data[data['Category'] == 'Data Science']
print(f"Number of resumes in HR category: {Data_Science_data.shape[0]}")

Number of resumes in HR category: 10

In [9]:
Data_Science_data

       Category                                             Resume
0  Data Science  Skills * Programming Languages: Python (pandas...
1  Data Science  Education Details \nMay 2013 to May 2017 B.E  ...
2  Data Science  Areas of Interest Deep Learning, Control Syste...
3  Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...
4  Data Science  Education Details \n MCA   YMCAUST,  Faridabad...
5  Data Science  SKILLS C Basics, IOT, Python, MATLAB, Data Sci...
6  Data Science  Skills â¢ Python â¢ Tableau â¢ Data Visuali...
7  Data Science  Education Details \n B.Tech   Rayat and Bahra ...
8  Data Science  Personal Skills â¢ Ability to quickly grasp t...
9  Data Science  Expertise â Data and Quantitative Analysis â...

In [10]:
Data_Science_data.iloc[0]['Resume'] #yes

'Skills * Programming Languages: Python (pandas, numpy, scipy, scikit-learn, matplotlib), Sql, Java, JavaScript/JQuery. * Machine learning: Regression, SVM, NaÃ¯ve Bayes, KNN, Random Forest, Decision Trees, Boosting techniques, Cluster Analysis, Word Embedding, Sentiment Analysis, Natural Language processing, Dimensionality reduction, Topic Modelling (LDA, NMF), PCA & Neural Nets. * Database Visualizations: Mysql, SqlServer, Cassandra, Hbase, ElasticSearch D3.js, DC.js, Plotly, kibana, matplotlib, ggplot, Tableau. * Others: Regular Expression, HTML, CSS, Angular 6, Logstash, Kafka, Python Flask, Git, Docker, computer vision - Open CV and understanding of Deep learning.Education Details \nData Science Assurance AssociateData Science Assurance Associate - Ernst & Young LLPSkill Details \nJAVASCRIPT- Exprience - 24 months\njQuery- Exprience - 24 months\nPython- Exprience - 24 monthsCompany Details \ncompany - Ernst & Young LLP\ndescription - Fraud Investigations and Dispute Services   Assurance\nTECHNOLOGY ASSISTED REVIEW\nTAR (Technology Assisted Review) assists in accelerating the review process and run analytics and generate reports.\n* Core member of a team helped in developing automated review platform tool from scratch for assisting E discovery domain, this tool implements predictive coding and topic modelling by automating reviews, resulting in reduced labor costs and time spent during the lawyers review.\n* Understand the end to end flow of the solution, doing research and development for classification models, predictive analysis and mining of the information present in text data. Worked on analyzing the outputs and precision monitoring for the entire tool.\n* TAR assists in predictive coding, topic modelling from the evidence by following EY standards. Developed the classifier models in order to identify "red flags" and fraud-related issues.\n\nTools & Technologies: Python, scikit-learn, tfidf, word2vec, doc2vec, cosine similarity, NaÃ¯ve Bayes, LDA, NMF for topic modelling, Vader and text blob for sentiment analysis. Matplot lib, Tableau dashboard for reporting.\n\nMULTIPLE DATA SCIENCE AND ANALYTIC PROJECTS (USA CLIENTS)\nTEXT ANALYTICS - MOTOR VEHICLE CUSTOMER REVIEW DATA * Received customer feedback survey data for past one year. Performed sentiment (Positive, Negative & Neutral) and time series analysis on customer comments across all 4 categories.\n* Created heat map of terms by survey category based on frequency of words * Extracted Positive and Negative words across all the Survey categories and plotted Word cloud.\n* Created customized tableau dashboards for effective reporting and visualizations.\nCHATBOT * Developed a user friendly chatbot for one of our Products which handle simple questions about hours of operation, reservation options and so on.\n* This chat bot serves entire product related questions. Giving overview of tool via QA platform and also give recommendation responses so that user question to build chain of relevant answer.\n* This too has intelligence to build the pipeline of questions as per user requirement and asks the relevant /recommended questions.\n\nTools & Technologies: Python, Natural language processing, NLTK, spacy, topic modelling, Sentiment analysis, Word Embedding, scikit-learn, JavaScript/JQuery, SqlServer\n\nINFORMATION GOVERNANCE\nOrganizations to make informed decisions about all of the information they store. The integrated Information Governance portfolio synthesizes intelligence across unstructured data sources and facilitates action to ensure organizations are best positioned to counter information risk.\n* Scan data from multiple sources of formats and parse different file formats, extract Meta data information, push results for indexing elastic search and created customized, interactive dashboards using kibana.\n* Preforming ROT Analysis on the data which give information of data which helps identify content that is either Redundant, Outdated, or Trivial.\n* Preforming full-text search analysis on elastic search with predefined methods which can tag as (PII) personally identifiable information (social security numbers, addresses, names, etc.) which frequently targeted during cyber-attacks.\nTools & Technologies: Python, Flask, Elastic Search, Kibana\n\nFRAUD ANALYTIC PLATFORM\nFraud Analytics and investigative platform to review all red flag cases.\nâ\x80¢ FAP is a Fraud Analytics and investigative platform with inbuilt case manager and suite of Analytics for various ERP systems.\n* It can be used by clients to interrogate their Accounting systems for identifying the anomalies which can be indicators of fraud by running advanced analytics\nTools & Technologies: HTML, JavaScript, SqlServer, JQuery, CSS, Bootstrap, Node.js, D3.js, DC.js'

In [11]:
Data_Science_data.iloc[1]['Resume']

'Education Details \nMay 2013 to May 2017 B.E   UIT-RGPVData ScientistData Scientist - MatelabsSkill Details \nPython- Exprience - Less than 1 year months\nStatsmodels- Exprience - 12 months\nAWS- Exprience - Less than 1 year months\nMachine learning- Exprience - Less than 1 year months\nSklearn- Exprience - Less than 1 year months\nScipy- Exprience - Less than 1 year months\nKeras- Exprience - Less than 1 year monthsCompany Details \ncompany - Matelabs\ndescription - ML Platform for business professionals, dummies and enthusiasts.\n60/A Koramangala 5th block,\nAchievements/Tasks behind sukh sagar, Bengaluru,\nIndia                               Developed and deployed auto preprocessing steps of machine learning mainly missing value\ntreatment, outlier detection, encoding, scaling, feature selection and dimensionality reduction.\nDeployed automated classification and regression model.\nlinkedin.com/in/aditya-rathore-\nb4600b146                           Reasearch and deployed the time series forecasting model ARIMA, SARIMAX, Holt-winter and\nProphet.\nWorked on meta-feature extracting problem.\ngithub.com/rathorology\nImplemented a state of the art research paper on outlier detection for mixed attributes.\ncompany - Matelabs\ndescription - '

In [12]:
Data_Science_data.iloc[2]['Resume']

'Areas of Interest Deep Learning, Control System Design, Programming in-Python, Electric Machinery, Web Development, Analytics Technical Activities q Hindustan Aeronautics Limited, Bangalore - For 4 weeks under the guidance of Mr. Satish, Senior Engineer in the hangar of Mirage 2000 fighter aircraft Technical Skills Programming Matlab, Python and Java, LabView, Python WebFrameWork-Django, Flask, LTSPICE-intermediate Languages and and MIPOWER-intermediate, Github (GitBash), Jupyter Notebook, Xampp, MySQL-Basics, Python Software Packages Interpreters-Anaconda, Python2, Python3, Pycharm, Java IDE-Eclipse Operating Systems Windows, Ubuntu, Debian-Kali Linux Education Details \nJanuary 2019 B.Tech. Electrical and Electronics Engineering  Manipal Institute of Technology\nJanuary 2015    DEEKSHA CENTER\nJanuary 2013    Little Flower Public School\nAugust 2000    Manipal Academy of HigherDATA SCIENCEDATA SCIENCE AND ELECTRICAL ENTHUSIASTSkill Details \nData Analysis- Exprience - Less than 1 year months\nexcel- Exprience - Less than 1 year months\nMachine Learning- Exprience - Less than 1 year months\nmathematics- Exprience - Less than 1 year months\nPython- Exprience - Less than 1 year months\nMatlab- Exprience - Less than 1 year months\nElectrical Engineering- Exprience - Less than 1 year months\nSql- Exprience - Less than 1 year monthsCompany Details \ncompany - THEMATHCOMPANY\ndescription - I am currently working with a Casino based operator(name not to be disclosed) in Macau.I need to segment the customers who visit their property based on the value the patrons bring into the company.Basically prove that the segmentation can be done in much better way than the current system which they have with proper numbers to back it up.Henceforth they can implement target marketing strategy to attract their customers who add value to the business.'

In [13]:
Data_Science_data.iloc[3]['Resume']

"Skills â\x80¢ R â\x80¢ Python â\x80¢ SAP HANA â\x80¢ Tableau â\x80¢ SAP HANA SQL â\x80¢ SAP HANA PAL â\x80¢ MS SQL â\x80¢ SAP Lumira â\x80¢ C# â\x80¢ Linear Programming â\x80¢ Data Modelling â\x80¢ Advance Analytics â\x80¢ SCM Analytics â\x80¢ Retail Analytics â\x80¢Social Media Analytics â\x80¢ NLP Education Details \nJanuary 2017 to January 2018 PGDM Business Analytics  Great Lakes Institute of Management & Illinois Institute of Technology\nJanuary 2013 Bachelor of Engineering Electronics and Communication Bengaluru, Karnataka New Horizon College of Engineering, Bangalore Visvesvaraya Technological UniversityData Science ConsultantConsultant - Deloitte USISkill Details \nLINEAR PROGRAMMING- Exprience - 6 months\nRETAIL- Exprience - 6 months\nRETAIL MARKETING- Exprience - 6 months\nSCM- Exprience - 6 months\nSQL- Exprience - Less than 1 year months\nDeep Learning- Exprience - Less than 1 year months\nMachine learning- Exprience - Less than 1 year months\nPython- Exprience - Less than 1 year months\nR- Exprience - Less than 1 year monthsCompany Details \ncompany - Deloitte USI\ndescription - The project involved analysing historic deals and coming with insights to optimize future deals.\nRole: Was given raw data, carried out end to end analysis and presented insights to client.\nKey Responsibilities:\nâ\x80¢ Extract data from client systems across geographies.\nâ\x80¢ Understand and build reports in tableau. Infer meaningful insights to optimize prices and find out process blockades.\nTechnical Environment: R, Tableau.\n\nIndustry: Cross Industry\nService Area: Cross Industry - Products\nProject Name: Handwriting recognition\nConsultant: 3 months.\nThe project involved taking handwritten images and converting them to digital text images by object detection and sentence creation.\nRole: I was developing sentence correction functionality.\nKey Responsibilities:\nâ\x80¢ Gather data large enough to capture all English words\nâ\x80¢ Train LSTM models on words.\nTechnical Environment: Python.\n\nIndustry: Finance\nService Area: Financial Services - BI development Project Name: SWIFT\nConsultant: 8 months.\nThe project was to develop an analytics infrastructure on top of SAP S/4, it would user to view\nfinancial reports to respective departments. Reporting also included forecasting expenses.\nRole: I was leading the offshore team.\nKey Responsibilities:\nâ\x80¢ Design & Develop data models for reporting.\nâ\x80¢ Develop ETL for data flow\nâ\x80¢ Validate various reports.\nTechnical Environment: SAP HANA, Tableau, SAP AO.\n\nIndustry: Healthcare Analytics\nService Area: Life Sciences - Product development Project Name: Clinical Healthcare System\nConsultant: 2 months.\nThe project was to develop an analytics infrastructure on top of Argus, it would allow users to query faster and provide advance analytics capabilities.\nRole: I was involved from design to deploy phase, performed a lot of data restructuring and built\nmodels for insights.\nKey Responsibilities:\nâ\x80¢ Design & Develop data models for reporting.\nâ\x80¢ Develop and deploy analytical models.\nâ\x80¢ Validate various reports.\nTechnical Environment: Data Modelling, SAP HANA, Tableau, NLP.\n\nIndustry: FMCG\nService Area: Trade & Promotion\nProject Name: Consumption Based Planning for Flowers Foods Consultant; 8 months.\nThe project involved setting up of CRM and CBP modules.\nRole: I was involved in key data decomposition activities and setting up the base for future year\nforecast. Over the course of the project I developed various models and carried out key\nperformance improvements.\nKey Responsibilities:\nâ\x80¢ Design & Develop HANA models for decomposition.\nâ\x80¢ Develop data flow for forecast.\nâ\x80¢ Developed various views for reporting of Customer/Sales/Funds.\nâ\x80¢ Validate various reports in BOBJ.\nTechnical Environment: Data Modelling, SAP HANA, BOBJ, Time Series Forecasting.\n\nInternal Initiative Industry: FMCG\nCustomer Segmentation and RFM analysis Consultant; 3 months.\nThe initiative involved setting up of HANA-Python interface and advance analytics on Python. Over the course I had successfully segmented data into five core segments using K-means and carried out RFM analysis in Python. Also developed algorithm to categorize any new customer under the defined buckets.\nTechnical Environment: Anaconda3, Python3.6, HANA SPS12\n\nIndustry: Telecom Invoice state detection Consultant; 1 months.\nThe initiative was to reduce the manual effort in verifying closed and open invoices manually, it\ninvolved development to a decision tree to classify open/closed invoices. This enabled effort\nreduction by 60%.\nTechnical Environment: R, SAP PAL, SAP HANA SPS12\n\nAccenture Experience\nIndustry: Analytics - Cross Industry\nIn Process Analytics for SAP Senior Developer; 19 months.\nAccenture Solutions Pvt. Ltd., India\nThe project involved development of SAP analytics tool - In Process Analytics (IPA) . My role was to develop database objects and data models to provide operational insights to clients.\nRole: I have developed various Finance related KPIs and spearheaded various deployments.\nIntroduced SAP Predictive analytics to reduce development time and reuse functionalities for KPIs and prepared production planning reports.\nKey Responsibilities:\nâ\x80¢ Involved in information gather phase.\nâ\x80¢ Designed and implemented SAP HANA data modelling using Attribute View, Analytic View, and\nCalculation View.\nâ\x80¢ Developed various KPI's individually using complex SQL scripts in Calculation views.\nâ\x80¢ Created procedures in HANA Database.\nâ\x80¢ Took ownership and developed Dashboard functionality.\nâ\x80¢ Involved in building data processing algorithms to be executed in R server for cluster analysis.\nTechnical Environment: R, SAP HANA, T-SQL.\nIndustry: Cross Industry\nAccenture Testing Accelerator for SAP Database Developer; 21 months.\nAccenture Solutions Pvt. Ltd., India\nRole: I have taken care of all development activities for the ATAS tool and have also completed\nvarious deployments of the product.\nApart from these activities I was also actively involved in maintenance of the database servers\n(Production & Quality)\nKey Responsibilities:\nâ\x80¢ Analyzing business requirements, understanding the scope, getting requirements clarified\ninteracting with business and further transform all requirements to generate attribute\nmapping documents and reviewing mapping specification documentation\nâ\x80¢ Create / Update database objects like tables, views, stored procedures, function, and packages\nâ\x80¢ Monitored SQL Server Error Logs and Application Logs through SQL Server Agent\nâ\x80¢ Prepared Data Flow Diagrams, Entity Relationship Diagrams using UML\nâ\x80¢ Responsible for Designing, developing and Normalization of database tables\nâ\x80¢ Experience in performance tuning using SQL profiler.\nâ\x80¢ Involved in QA, UAT, knowledge transfer and support activities\nTechnical Environment: SQL Server 2008/2014, Visual Studio 2010, Windows Server, Performance\nMonitor, SQL Server Profiler, C#, PL-SQL, T-SQL."

In [14]:
Data_Science_data.iloc[4]['Resume']

'Education Details \n MCA   YMCAUST,  Faridabad,  HaryanaData Science internshipSkill Details \nData Structure- Exprience - Less than 1 year months\nC- Exprience - Less than 1 year months\nData Analysis- Exprience - Less than 1 year months\nPython- Exprience - Less than 1 year months\nCore Java- Exprience - Less than 1 year months\nDatabase Management- Exprience - Less than 1 year monthsCompany Details \ncompany - Itechpower\ndescription - '

In [15]:
Data_Science_data.iloc[5]['Resume']

"SKILLS C Basics, IOT, Python, MATLAB, Data Science, Machine Learning, HTML, Microsoft Word, Microsoft Excel, Microsoft Powerpoint. RECOGNITION Academic Secured First place in B.Tech.Education Details \nAugust 2014 to May 2018 B.Tech.  Ghatkesar, Andhra Pradesh Aurora's Scientific and Technological Institute\nJune 2012 to May 2014  Secondary Education Warangal, Telangana SR Junior CollegeData ScienceSkill Details \nMS OFFICE- Exprience - Less than 1 year months\nC- Exprience - Less than 1 year months\nmachine learning- Exprience - Less than 1 year months\ndata science- Exprience - Less than 1 year months\nMatlab- Exprience - Less than 1 year monthsCompany Details \ncompany - \ndescription - "

In [16]:
Data_Science_data.iloc[6]['Resume']

'Skills â\x80¢ Python â\x80¢ Tableau â\x80¢ Data Visualization â\x80¢ R Studio â\x80¢ Machine Learning â\x80¢ Statistics IABAC Certified Data Scientist with versatile experience over 1+ years in managing business, data science consulting and leading innovation projects, bringing business ideas to working real world solutions. Being a strong advocator of augmented era, where human capabilities are enhanced by machines, Fahed is passionate about bringing business concepts in area of machine learning, AI, robotics etc., to real life solutions.Education Details \nJanuary 2017 B. Tech Computer Science & Engineering Mohali, Punjab Indo Global College of EngineeringData Science ConsultantData Science Consultant - DatamitesSkill Details \nMACHINE LEARNING- Exprience - 13 months\nPYTHON- Exprience - 24 months\nSOLUTIONS- Exprience - 24 months\nDATA SCIENCE- Exprience - 24 months\nDATA VISUALIZATION- Exprience - 24 months\nTableau- Exprience - 24 monthsCompany Details \ncompany - Datamites\ndescription - â\x80¢ Analyzed and processed complex data sets using advanced querying, visualization and analytics tools.\nâ\x80¢ Responsible for loading, extracting and validation of client data.\nâ\x80¢ Worked on manipulating, cleaning & processing data using python.\nâ\x80¢ Used Tableau for data visualization.\ncompany - Heretic Solutions Pvt Ltd\ndescription - â\x80¢ Worked closely with business to identify issues and used data to propose solutions for effective decision making.\nâ\x80¢ Manipulating, cleansing & processing data using Python, Excel and R.\nâ\x80¢ Analyzed raw data, drawing conclusions & developing recommendations.\nâ\x80¢ Used machine learning tools and statistical techniques to produce solutions to problems.'

In [17]:
Data_Science_data.iloc[7]['Resume'] #yes

'Education Details \n B.Tech   Rayat and Bahra Institute of Engineering and BiotechnologyData ScienceData ScienceSkill Details \nNumpy- Exprience - Less than 1 year months\nMachine Learning- Exprience - Less than 1 year months\nTensorflow- Exprience - Less than 1 year months\nScikit- Exprience - Less than 1 year months\nPython- Exprience - Less than 1 year months\nGCP- Exprience - Less than 1 year months\nPandas- Exprience - Less than 1 year months\nNeural Network- Exprience - Less than 1 year monthsCompany Details \ncompany - Wipro\ndescription - Bhawana Aggarwal\nE-Mail:bhawana.chd@gmail.com\nPhone: 09876971076\nVVersatile, high-energy professional targeting challenging assignments in Machine\nPROFILE SUMMARY\nâ\x96ª An IT professional with knowledge and experience of 2 years in Wipro Technologies in Machine\nLearning, Deep Learning, Data Science, Python, Software Development.\nâ\x96ª Skilled in managing end-to-end development and software products / projects from inception, requirement\nspecs, planning, designing, implementation, configuration and documentation.\nâ\x96ª Knowledge on Python , Machine Learning, Deep Learning, data Science, Algorithms, Neural Network,\nNLP, GCP.\nâ\x96ª Knowledge on Python Libraries like Numpy, Pandas, Seaborn , Matplotlib, Cufflinks.\nâ\x96ª Knowledge on different algorithms in Machine learning like KNN, Decision Tree, Bias variance Trade off,\nSupport vector Machine(SVM),Logistic Regression, Neural networks.\nâ\x96ª Have knowledge on unsupervised, Supervised and reinforcement data.\nâ\x96ª Programming experience in relational platforms like MySQL,Oracle.\nâ\x96ª Have knowledge on Some programming language like C++,Java.\nâ\x96ª Experience in cloud based environment like Google Cloud.\nâ\x96ª Working on different Operating System like Linux, Ubuntu, Windows.\nâ\x96ª Good interpersonal and communication skills.\nâ\x96ª Problem solving skills with the ability to think laterally, and to think with a medium term and long term\nperspective\nâ\x96ª Flexibility and an open attitude to change.\nâ\x96ª Ability to create, define and own frameworks with a strong emphasis on code reusability.\nTECHNICAL SKILLS\nProgramming Languages Python, C\nLibraries Seaborn, Numpy, Pandas, Cufflinks, Matplotlib\nAlgorithms\nKNN, Decision Tree, Linear regression, Logistic Regression, Neural Networks, K means clustering,\nTensorflow, SVM\nDatabases SQL, Oracle\nOperating Systems Linux, Window\nDevelopment Environments NetBeans, Notebooks, Sublime\nTicketing tools Service Now, Remedy\nEducation\nUG Education:\nB.Tech (Computer Science) from Rayat and Bahra Institute of Engineering and Biotechnology passed with 78.4%in\n2016.\nSchooling:\nXII in 2012 from Moti Ram Arya Sr. Secondary School(Passed with 78.4%)\nX in 2010 from Valley Public School (Passed with 9.4 CGPA)\nWORK EXPERINCE\nTitle : Wipro Neural Intelligence Platform\nTeam Size : 5\nBrief: Wiproâ\x80\x99s Neural Intelligence Platform harnesses the power of automation and artificial intelligence\ntechnologiesâ\x80\x94natural language processing (NLP), cognitive, machine learning, and analytics. The platform\ncomprises three layers: a data engagement platform that can easily access and manage multiple structured and\nunstructured data sources; an â\x80\x9cintent assessment and reasoningâ\x80\x9d engine that includes sentiment and predictive\nanalytics; and a deep machine learning engine that can sense, act, and learn over time. The project entailed\nautomating responses to user queries at the earliest. The Monster Bot using the power of Deep Machine Learning,\nNLP to handle such queries. User can see the how their queries can be answered quickly like allL1 activities can be\neliminated.\nEntity Extractor -> This involves text extraction and NLP for fetching out important information from the text like\ndates, names, places, contact numbers etc. This involves Regex, Bluemix NLU apiâ\x80\x99s and machine learning using\nTensor flow for further learning of new entities.\nClassifier ->This involves the classifications of classes, training of dataset and predicting the output using the SKLearn\nclassifier (MNB, SVM, SGD as Classifier) and SGD for the optimization to map the user queries with the best\nsuited response and make the system efficient.\nNER: A Deep Learning NER Model is trained to extract the entities from the text. Entities like Roles, Skills,\nOrganizations can be extracted from raw text. RNN(LSTM) Bidirectional model is trained for extracting such entities\nusing Keras TensorFlow framework.\nOTHER PROJECTS\nTitle : Diabetes Detection\nBrief : Developed the software which can detect whether the person is suffering from Diabetes or not and got the third\nprize in it.\nTRAINING AND CERTIFICATIONS\nTitle: Python Training, Machine Learning, Data Science, Deep Learning\nOrganization: Udemy, Coursera (Machine Learning, Deep Learning)\nPersonal Profile\nFatherâ\x80\x99s Name :Mr. Tirlok Aggarwal\nLanguage Known : English & Hindi\nMarital Status :Single\nDate of Birth(Gender):1993-12-20(YYYY-MM-DD) (F)\ncompany - Wipro\ndescription - Developing programs in Python.\ncompany - Wipro\ndescription - Title : Wipro Neural Intelligence Platform\nTeam Size : 5\nBrief: Wiproâ\x80\x99s Neural Intelligence Platform harnesses the power of automation and artificial intelligence\ntechnologiesâ\x80\x94natural language processing (NLP), cognitive, machine learning, and analytics. The platform\ncomprises three layers: a data engagement platform that can easily access and manage multiple structured and\nunstructured data sources; an â\x80\x9cintent assessment and reasoningâ\x80\x9d engine that includes sentiment and predictive\nanalytics; and a deep machine learning engine that can sense, act, and learn over time. The project entailed\nautomating responses to user queries at the earliest. The Monster Bot using the power of Deep Machine Learning,\nNLP to handle such queries. User can see the how their queries can be answered quickly like allL1 activities can be\neliminated.\nEntity Extractor -> This involves text extraction and NLP for fetching out important information from the text like\ndates, names, places, contact numbers etc. This involves Regex, Bluemix NLU apiâ\x80\x99s and machine learning using\nTensor flow for further learning of new entities.\nClassifier ->This involves the classifications of classes, training of dataset and predicting the output using the SKLearn\nclassifier (MNB, SVM, SGD as Classifier) and SGD for the optimization to map the user queries with the best\nsuited response and make the system efficient.\nNER: A Deep Learning NER Model is trained to extract the entities from the text. Entities like Roles, Skills,\nOrganizations can be extracted from raw text. RNN(LSTM) Bidirectional model is trained for extracting such entities\nusing Keras TensorFlow framework.\ncompany - Wipro Technologies\ndescription - An IT professional with knowledge and experience of 2 years in Wipro Technologies in Machine\nLearning, Deep Learning, Data Science, Python, Software Development.\nâ\x96ª Skilled in managing end-to-end development and software products / projects from inception, requirement\nspecs, planning, designing, implementation, configuration and documentation.\nâ\x96ª Knowledge on Python , Machine Learning, Deep Learning, data Science, Algorithms, Neural Network,\nNLP, GCP.\nâ\x96ª Knowledge on Python Libraries like Numpy, Pandas, Seaborn , Matplotlib, Cufflinks.\nâ\x96ª Knowledge on different algorithms in Machine learning like KNN, Decision Tree, Bias variance Trade off,\nSupport vector Machine(SVM),Logistic Regression, Neural networks.\nâ\x96ª Have knowledge on unsupervised, Supervised and reinforcement data.\nâ\x96ª Programming experience in relational platforms like MySQL,Oracle.\nâ\x96ª Have knowledge on Some programming language like C++,Java.\nâ\x96ª Experience in cloud based environment like Google Cloud.\nâ\x96ª Working on different Operating System like Linux, Ubuntu, Windows.\nâ\x96ª Good interpersonal and communication skills.\nâ\x96ª Problem solving skills with the ability to think laterally, and to think with a medium term and long term\nperspective\nâ\x96ª Flexibility and an open attitude to change.\nâ\x96ª Ability to create, define and own frameworks with a strong emphasis on code reusability.'

In [18]:
Data_Science_data.iloc[8]['Resume'] #yes

'Personal Skills â\x9e¢ Ability to quickly grasp technical aspects and willingness to learn â\x9e¢ High energy levels & Result oriented. Education Details \nJanuary 2018 Master of Engineering Computer Technology & Application Bhopal, Madhya Pradesh Truba Institute of Engineering & Information Technology\nJanuary 2010 B.E. computer science Bhopal, Madhya Pradesh RKDF Institute of Science and Technology College of Engineering\nJanuary 2006 Polytechnic Information Technology Vidisha, Madhya Pradesh SATI Engineering College in Vidisha\nJanuary 2003 M.tech Thesis Detail  BMCH School in Ganj basodaData scienceI have six month experience in Data Science. Key Skills: - Experience in Machine Learning, Deep Leaning, NLP, Python, SQL, Web Scraping Good knowledge in computer subjects and ability to updateSkill Details \nExperience in Machine Learning, Deep Learning, NLP, Python, SQL, Web Crawling, HTML,CSS.- Exprience - Less than 1 year monthsCompany Details \ncompany - RNT.AI Technology Solution\ndescription - Text classification using Machine learning Algorithms with python.\nPractical knowledge of Deep learning algorithms such as Â\xa0Recurrent Neural Networks(RNN).\nDevelop custom data models and algorithms to apply to dataset\nExperience with Python packages like Pandas, Scikit-learn, Tensor Flow, Numpy, Matplotliv, NLTK.\nComfort with SQL, Â\xa0MYSQL\nSentiment analysis.\nÂ\xa0Apply leave Dataset using classification technique like Tf--idf , LSA with cosine similarity using Machine learning Algorithms.\nWeb crawling using Selenium web driver and Beautiful Soup with python.\ncompany - Life Insurance Corporation of India Bhopal\ndescription - Ã¼Â\xa0Explaining policy features and the benefits\nÃ¼ Updated knowledge of life insurance products and shared with customers'

In [19]:
Data_Science_data.iloc[9]['Resume'] #yes

'Expertise â\x88\x92 Data and Quantitative Analysis â\x88\x92 Decision Analytics â\x88\x92 Predictive Modeling â\x88\x92 Data-Driven Personalization â\x88\x92 KPI Dashboards â\x88\x92 Big Data Queries and Interpretation â\x88\x92 Data Mining and Visualization Tools â\x88\x92 Machine Learning Algorithms â\x88\x92 Business Intelligence (BI) â\x88\x92 Research, Reports and Forecasts Education Details \n PGP in Data Science  Mumbai, Maharashtra Aegis School of data science & Business\n B.E. in Electronics & Communication Electronics & Communication Indore, Madhya Pradesh IES IPS AcademyData ScientistData Scientist with PR CanadaSkill Details \nAlgorithms- Exprience - 6 months\nBI- Exprience - 6 months\nBusiness Intelligence- Exprience - 6 months\nMachine Learning- Exprience - 24 months\nVisualization- Exprience - 24 months\nspark- Exprience - 24 months\npython- Exprience - 36 months\ntableau- Exprience - 36 months\nData Analysis- Exprience - 24 monthsCompany Details \ncompany - Aegis school of Data Science & Business\ndescription - Mostly working on industry project for providing solution along with Teaching Appointments: Teach undergraduate and graduate-level courses in Spark and Machine Learning as an adjunct faculty member at Aegis School of Data Science, Mumbai (2017 to Present)\ncompany - Aegis school of Data & Business\ndescription - Data Science Intern, Nov 2015 to Jan 2016\n\nFurnish executive leadership team with insights, analytics, reports and recommendations enabling effective strategic planning across all business units, distribution channels and product lines.\n\nâ\x9e\x94 Chat Bot using AWS LEX and Tensor flow  Python\nThe goal of project creates a chat bot for an academic institution or university to handle queries related courses offered by that institute. The objective of this task is to reduce human efforts as well as reduce man made errors. Even by this companies handle their client 24x7. In this case companies are academic institutions and clients are participants or students.\nâ\x9e\x94 Web scraping using Selenium web driver   Python\nThe task is to scrap the data from the online messaging portal in a text format and have to find the pattern form it.\nâ\x9e\x94 Data Visualization and Data insights   Hadoop Eco System, Hive, PySpark, QlikSense\nThe goal of this project is to build a Business Solutions to a Internet Service Provider Company, like handling data which is generated per day basis, for that we have to visualize that data and find the usage pattern form it and have a generate a reports.\nâ\x9e\x94 Image Based Fraud Detection   Microsoft Face API, PySpark, Open CV\nThe main goal of project is Recognize similarity for a face to given Database images. Face recognition is the recognizing a special face from set of different faces. Face is extracted and then compared with the database Image if that Image recognized then the person already applied for loan from somewhere else and now hiding his or her identity, this is how we are going to prevent the frauds in the initial stage itself.\nâ\x9e\x94 Churn Analysis for Internet Service Provider   R, Python, Machine Learning, Hadoop\nThe objective is to identify the customer who is likely to churn in a given period of time; we have to pretend the customer giving incentive offers.\nâ\x9e\x94 Sentiment Analysis   Python, NLP, Apache Spark service in IBM Bluemix.\nThis project is highly emphasis on tweets from Twitter data were taken for mobile networks service provider to do a sentiment analysis and analyze whether the expressed opinion was positive, negative or neutral, capture the emotions of the tweets and comparative analysis.\n\nQuantifiable Results:\nâ\x88\x92 Mentored 7-12 Data Science Enthusiast each year that have all since gone on to graduate school in Data Science and Business Analytics.\nâ\x88\x92 Reviewed and evaluated 20-40 Research Papers on Data Science for one of the largest Data Science Conference called Data Science Congress by Aegis School of Business Mumbai.\nâ\x88\x92 Heading a solution providing organization called Data Science Delivered into Aegis school of Data Science Mumbai and managed 4-5 live projects using Data Science techniques.\nâ\x88\x92 Working for some social cause with the help of Data Science for Social Goods Committee, where our team developed a product called "Let\'s find a missing Child" for helping society.\ncompany - IBM India pvt ltd\ndescription - Mostly worked on blumix and IBM Watson for Data science.'

In [20]:
job_description = """
Job Title: AI Engineer

Job Type: Full-Time

Location: Remote

About us:
micro1 connects exceptional talent to transformative projects. We’re here to provide not just a job, but a platform for you to grow and achieve your career goals. We're proud to work with trusted partners such as Deel, Immutable, O’Gara, and LegalSoft.

What We Offer:
Work from anywhere
Healthcare reimbursement
Wi-Fi reimbursement
Unlimited learning and more.

Job Summary:
Join our dynamic team at micro1 as an AI Engineer. You'll have the opportunity to develop cutting-edge machine learning models and AI-driven solutions from anywhere in the world. This role not only offers the chance to work on impactful projects but also provides a supportive environment focused on your career growth.

Key Responsibilities:
Develop and optimize deep learning models using frameworks like PyTorch and TensorFlow.
Collaborate closely with product teams to integrate AI solutions seamlessly.
Design and implement Natural Language Processing (NLP) solutions to enhance user experience.
Conduct thorough testing and validation of machine learning models.
Stay updated with the latest advancements in AI and deep learning technologies.
Document processes and findings clearly to support team knowledge sharing.
Analyze data sets to extract meaningful insights for business applications.

Required Skills and Qualifications:
Proficiency in Deep Learning frameworks such as PyTorch and TensorFlow.
Strong experience with Natural Language Processing (NLP) models and techniques.
Excellent written and verbal communication skills.
Demonstrated ability to work independently in a remote setting.
Solid understanding of machine learning algorithms and principles.

Preferred Qualifications:
Experience with Reinforcement Learning.
Familiarity with cloud-based AI services and deployment."""

In [21]:
Data_Science_data

       Category                                             Resume
0  Data Science  Skills * Programming Languages: Python (pandas...
1  Data Science  Education Details \nMay 2013 to May 2017 B.E  ...
2  Data Science  Areas of Interest Deep Learning, Control Syste...
3  Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...
4  Data Science  Education Details \n MCA   YMCAUST,  Faridabad...
5  Data Science  SKILLS C Basics, IOT, Python, MATLAB, Data Sci...
6  Data Science  Skills â¢ Python â¢ Tableau â¢ Data Visuali...
7  Data Science  Education Details \n B.Tech   Rayat and Bahra ...
8  Data Science  Personal Skills â¢ Ability to quickly grasp t...
9  Data Science  Expertise â Data and Quantitative Analysis â...

In [22]:
# Create the 'chosen' feature
Data_Science_data['chosen'] = Data_Science_data.index.map(lambda x: 1 if x in [0, 7, 8,9] else 0)

print(Data_Science_data)

       Category                                             Resume  chosen
0  Data Science  Skills * Programming Languages: Python (pandas...       1
1  Data Science  Education Details \nMay 2013 to May 2017 B.E  ...       0
2  Data Science  Areas of Interest Deep Learning, Control Syste...       0
3  Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...       0
4  Data Science  Education Details \n MCA   YMCAUST,  Faridabad...       0
5  Data Science  SKILLS C Basics, IOT, Python, MATLAB, Data Sci...       0
6  Data Science  Skills â¢ Python â¢ Tableau â¢ Data Visuali...       0
7  Data Science  Education Details \n B.Tech   Rayat and Bahra ...       1
8  Data Science  Personal Skills â¢ Ability to quickly grasp t...       1
9  Data Science  Expertise â Data and Quantitative Analysis â...       1

/var/folders/dm/y1vt4m8j43xbl9qk9zyfh22h0000gn/T/ipykernel_85439/1767284651.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data_Science_data['chosen'] = Data_Science_data.index.map(lambda x: 1 if x in [0, 7, 8,9] else 0)

In [23]:
Data_Science_data

       Category                                             Resume  chosen
0  Data Science  Skills * Programming Languages: Python (pandas...       1
1  Data Science  Education Details \nMay 2013 to May 2017 B.E  ...       0
2  Data Science  Areas of Interest Deep Learning, Control Syste...       0
3  Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...       0
4  Data Science  Education Details \n MCA   YMCAUST,  Faridabad...       0
5  Data Science  SKILLS C Basics, IOT, Python, MATLAB, Data Sci...       0
6  Data Science  Skills â¢ Python â¢ Tableau â¢ Data Visuali...       0
7  Data Science  Education Details \n B.Tech   Rayat and Bahra ...       1
8  Data Science  Personal Skills â¢ Ability to quickly grasp t...       1
9  Data Science  Expertise â Data and Quantitative Analysis â...       1

In [24]:

# New HR CV
hr_cv = """
 HR CONSULTANT       Summary       Subject matter expert in HR Applications, and  highly effective at incorporating creative solutions to achieve business objectives, and improve efficiency.  Energetic HR Business Analyst who is self-motivated and results-driven with strong communication, analytical, problem solving and reasoning skills.        Highlights          Analytical skills  Project management  Process improvement  Quality assurance and control  System Applications implementation  Microsoft Office Suite expert      Working independently  Strong interpersonal skills  Results-oriented  Fluent in English and Portuguese  Detail-oriented  Troubleshooting  Problem solving            Experience      HR Consultant   10/2016       Company Name   City  ,   State      HRIS - Business Analyst:   

Process demand analysis, scoping, and gathering of
requirements for small and large scale HR projects
  
Prepare Business Requirement Documents after
projects have been approved by PMO  Close the gap communication between businesses
and IS 

Support and coordinate functional testing
processes to make sure stakeholders' objectives are met  Document systems and process flows  

Document and analyze current and future
processes/systems  Deliver and Support user training
  
Process security internal control on the quarterly
basis to assess US HR/Payroll system users.   Send recommendations, and remove/add users
per business requests from local and global systems   

Investigate, coordinate, and resolve with
subject matter experts and/or IS regarding local and Global system issues

  Request HR global system back end/portal roles
for local HRBPs, COE and Front Office users (Americas)  

Responsible to coordinate system applications
changes and new requirements with IS       People Analytics lead:   

Run and deliver the monthly Department of Labor reports
  
Create, run and deliver reports that are
outside GBS People Analytics India's scope  

Support both US Front Office, GBS India, and Americas
Region Center of Excellence with reports and analysis requests          Business System Applications Analyst   02/2014   to   04/2016     Company Name   City  ,   State       Served as conduit between internal and external customers including the IS team through several HRIS projects and daily activities such as interface and data input troubleshooting   Provided expertise in business analysis for several HRIS projects  Acted as project lead in several HRIS projects, and supported functional testing processes to ensure that system projects meet the needs of all stakeholders  Support user acceptance testing, and user training  Coordinated communications with business and vendors  Documented and analyzed current and future processes/systems  Identified and mapped business needs  Ensured successful project delivery according to business/vendors expectations    Accomplishments:    Implemented Red Carpet/Silkroad On boarding application for US; which improved significantly the new employees' on boarding experience and open visibility to business eliminating cumbersome manual processes  Acted as project lead for the Master Data and Benefits interface projects for the in house ERP implementation project.  Worked closely with ADP and business to implement Affordable Care Act in ERP          HRIS Master Data Team Lead   06/2011   to   02/2014     Company Name   City  ,   State      •	Trained the HR Specialists to navigate and maintain new/updated system applications and processes  •	Monitored data quality and accuracy based on local/global internal controls  •	Responsible for working with ADP IS to implement new/changes on the HRIS system according to payroll, local and global business requirements.​  •	Ran payroll/non payroll impacting mass loads in SAP for payroll, benefits, or other business purposes.  •	Created and ran reports for subject matter experts  •	Created and ran monthly/quarterly governmental reports  •	Designed and documented HR workflow processes  •	Trained US HR business partners to navigate and utilize the HR/Payroll system   Accomplishments:      Successfully lead and implemented the Workers Comp report project.   Trained the Canadian team on the Global processes for Organization Management and Personnel Administration, and Global System super users          SAP Timekeeping Analyst   05/2009   to   11/2010     Company Name   City  ,   State       Gathered all the necessary business and government requirements, including approvals to create/modify Time calculations for new sites or policy changes.  Collected all the time files according to payroll schedules for payroll processing  Processed data analysis and reconciliation  Worked closely with business, Employees Services, and IS to resolve issues/troubleshooting       Accomplishments :   Delivered the time files
without delay for payroll processing for around 47 sites (9,500 employees and around 1,000 contractors)  Designed and implemented solutions
through Access and Excel advanced formulas to validate the data quality, and accuracy
of the data and time results before transmitting the files to payroll� This replaced the manual process enabling efficiency and delivery of files timely           HR Data and Applications Specialist   04/2007   to   05/2009     Company Name   City  ,   State       Supported Human Resources Shared Services and act as the subject matter expert for SAP HCM and other HR applications.  Supported Finance, Canada / US Payrolls, and Human Resources Shared Services on bi-weekly and year-end activities   Collaborated with Information Systems, Finance, Canada and US Payroll and Human Resources Business owners on Sarbanes-Oxley requirements and system/process enhancements for key areas of responsibility.  Worked closely with business process owners, smes, benefit vendors and Information Systems to ensure data flow were properly planned and managed, and ensure appropriate data quality controls and standards were developed and maintained globally.  Performed root cause analysis, developed and managed corrective action plans.  Run and analyzed interface error reports for Canada and US payroll systems per Sarbanes-Oxley requirements.  Work closely with process owners and Information Systems to research/ identify/ resolve any interface or data issue identified with vendors or payroll systems  Acted as a project liaison between Human Resources and Information System teams for multiple HR or payroll projects (examples: SAP HCM Compensation project, Canadian Payroll system, European Expat project, US Payroll Year End, Benefits Annual Enrollment, SAP releases)  Provided system training and support for Human Resources Shared Services employees globally for key areas of responsibility  Scheduled release calls, prepared work instructions & Knowledge Base Articles, developed and/or coordinated training for Human Resources Shared Services both locally and regionally   Articulated and identified process improvement opportunities within Human Resources   Analyzed and identify processing issues and escalated to Canada and US Payroll, Human Resources and Quality Assurance teams  Created and run Adhoc reports for all Human Resources Shared Services, Internal and External Auditors per Sarbanes-Oxley requirements   Transferred 60 auditing control activities to Quality Assurance team.  Trained new data integrity processors for Quality Assurance   Developed HR compliance reports for Asia, Europe, Canada and US through SAP and DARE systems   Developed 75 reports for external auditors, and developed data integrity and metric reports for 2008 and 2009 Benefits Annual Enrollment   Coordinated testing, meetings, training and communication for Benefits Annual Enrollment for 2008 and 2009 projects for US and Canada.  Lead the review and training of the Canadian Payroll system for all specialists and processors within HR Shared Services           Education      BBA  :   Business Administration   May 2009       Campbell University   City  ,   State  ,   US             Languages    Portuguese, Spanish and English      Skills    Advanced Excel, Access, Word, Visio, Power Point, VBA, SAP HCM, Success Factors (Compensation), Microsoft Project Management, Service Now (ASKHR), Smartsheet, Panaya, SilkRoad - Red Carpet   

Skills    NLP , machine learning , deep learning , Advanced Excel, Access, Word, Visio, Power Point, VBA, SAP HCM, Success Factors (Compensation), Microsoft Project Management, Service Now (ASKHR), Smartsheet, Panaya, SilkRoad - Red Carpet."""

# New row dictionary
new_row = {
    "Category": "HR",
    "Resume": hr_cv,
    "chosen": 0,
}

# Add the new row using pd.concat (preferred over append)
new_row_df = pd.DataFrame([new_row])  # Create a new DataFrame for the new row
Data_Science_data = pd.concat([Data_Science_data, new_row_df], ignore_index=True)

print(Data_Science_data)

        Category                                             Resume  chosen
0   Data Science  Skills * Programming Languages: Python (pandas...       1
1   Data Science  Education Details \nMay 2013 to May 2017 B.E  ...       0
2   Data Science  Areas of Interest Deep Learning, Control Syste...       0
3   Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...       0
4   Data Science  Education Details \n MCA   YMCAUST,  Faridabad...       0
5   Data Science  SKILLS C Basics, IOT, Python, MATLAB, Data Sci...       0
6   Data Science  Skills â¢ Python â¢ Tableau â¢ Data Visuali...       0
7   Data Science  Education Details \n B.Tech   Rayat and Bahra ...       1
8   Data Science  Personal Skills â¢ Ability to quickly grasp t...       1
9   Data Science  Expertise â Data and Quantitative Analysis â...       1
10            HR  \n HR CONSULTANT       Summary       Subject m...       0

In [25]:
Data_Science_data.to_csv("Data_Science_data.csv", index=False)

In [26]:
def compute_cosine_similarity(job_desc_embedding, resume_embeddings, resumes_df):
    """
    Computes the cosine similarity between a job description embedding and resume embeddings.

    Args:
        job_desc_embedding (array-like): Embedding vector for the job description.
        resume_embeddings (array-like): Matrix of embeddings for resumes.
        resumes_df (pd.DataFrame): DataFrame containing resume data.

    Returns:
        pd.DataFrame: Updated DataFrame with similarity scores, sorted in descending order.
    """
    # Ensure job_desc_embedding is a 2D array (1, N)
    job_desc_embedding = np.array(job_desc_embedding).reshape(1, -1)

    # Compute cosine similarity between job description and all resumes
    similarity_scores = cosine_similarity(job_desc_embedding, resume_embeddings)[0]

    # Create a copy of the DataFrame to avoid modifying a slice
    resumes_df = resumes_df.copy()

    # Add similarity scores to the DataFrame
    resumes_df.loc[:, 'similarity_score'] = similarity_scores

    # Sort resumes by similarity score in descending order
    resumes_df = resumes_df.sort_values(by='similarity_score', ascending=False)

    return resumes_df

In [27]:
def evaluate_resume_ranking_general(sorted_resumes, true_label_column="chosen", top_n=None):
    """
    Evaluate the ranking of resumes based on a sorted DataFrame (pre-sorted by scoring method).

    Args:
        sorted_resumes (pd.DataFrame): Pre-sorted DataFrame based on scoring method (e.g., cosine, BM25, hybrid).
        true_label_column (str): The column containing the true labels (default is 'chosen').
        top_n (int, optional): Number of top resumes to evaluate. If None, use the total number of 'chosen' resumes.

    Returns:
        dict: Evaluation metrics including precision, recall, ordering accuracy, and detailed metrics (TP, FP, FN, TN).
    """
    # Step 1: Ground truth: Indices of chosen resumes
    true_chosen_indices = sorted_resumes[sorted_resumes[true_label_column] == 1].index.tolist()

    # Step 2: Use top_n if provided, otherwise default to the number of true chosen resumes
    top_n = max(top_n or len(true_chosen_indices), len(true_chosen_indices))
    predicted_top_indices = sorted_resumes.head(top_n).index.tolist()

    # Step 3: Evaluate precision
    correct_predictions = [idx for idx in predicted_top_indices if idx in true_chosen_indices]
    precision = len(correct_predictions) / top_n

    # Step 4: Evaluate recall
    recall = len(correct_predictions) / len(true_chosen_indices)

    # Step 5: Evaluate ordering accuracy
    true_chosen_order_in_predictions = [idx for idx in predicted_top_indices if idx in true_chosen_indices]
    ordering_accuracy = 1 if true_chosen_order_in_predictions == true_chosen_indices else 0

    # Step 6: Calculate TP, FP, FN, TN
    TP = set(predicted_top_indices) & set(true_chosen_indices)  # True Positives
    FP = set(predicted_top_indices) - set(true_chosen_indices)  # False Positives
    FN = set(true_chosen_indices) - set(predicted_top_indices)  # False Negatives
    total_indices = list(range(len(sorted_resumes)))  # Total dataset indices
    covered_indices = TP | FP | FN  # Indices involved in TP, FP, FN
    TN = set(total_indices) - covered_indices  # True Negatives

    # Convert to counts
    TP_count = len(TP)
    FP_count = len(FP)
    FN_count = len(FN)
    TN_count = len(TN)

    # Return evaluation metrics
    return {
        "precision": precision,
        "recall": recall,
        "ordering_accuracy": ordering_accuracy,
        "true_chosen_indices": true_chosen_indices,
        "predicted_top_indices": predicted_top_indices,
        "TP_count": TP_count,
        "FP_count": FP_count,
        "FN_count": FN_count,
        "TN_count": TN_count,
        "TP": TP,
        "FP": FP,
        "FN": FN,
        "TN": TN,
    }

# try 1

In [292]:
# Text preprocessing function
def preprocess_text(text):
    # Convert to lowercase 
    text = text.lower()
    # Remove special characters (but keep numbers) keep 
    text = re.sub(r'[^a-zA-Z0-9-@\s]', '', text)
    # Tokenize text
    tokens = word_tokenize(text)
    # Remove stopwords
    stop_words = set(stopwords.words('english'))
    filtered_tokens = [word for word in tokens if word not in stop_words]
    return ' '.join(filtered_tokens)

In [293]:
Data_Science_data['cleaned_resume'] = Data_Science_data['Resume'].apply(preprocess_text)
Data_Science_data

,Category,Resume,chosen,cleaned_resume
0,Data Science,Skills * Programming Languages: Python (pandas...,1,skills programming languages python pandas num...
1,Data Science,Education Details \nMay 2013 to May 2017 B.E ...,0,education details may 2013 may 2017 uit-rgpvda...
2,Data Science,"Areas of Interest Deep Learning, Control Syste...",0,areas interest deep learning control system de...
3,Data Science,Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...,0,skills r python sap hana tableau sap hana sql ...
4,Data Science,"Education Details \n MCA YMCAUST, Faridabad...",0,education details mca ymcaust faridabad haryan...
5,Data Science,"SKILLS C Basics, IOT, Python, MATLAB, Data Sci...",0,skills c basics iot python matlab data science...
6,Data Science,Skills â¢ Python â¢ Tableau â¢ Data Visuali...,0,skills python tableau data visualization r stu...
7,Data Science,Education Details \n B.Tech Rayat and Bahra ...,1,education details btech rayat bahra institute ...
8,Data Science,Personal Skills â¢ Ability to quickly grasp t...,1,personal skills ability quickly grasp technica...
9,Data Science,Expertise â Data and Quantitative Analysis â...,1,expertise data quantitative analysis decision ...
10,HR,\n HR CONSULTANT Summary Subject m...,0,hr consultant summary subject matter expert hr...

In [294]:
# Load the pre-trained BERT model
model = SentenceTransformer('bert-base-nli-mean-tokens')

In [295]:
# Generate BERT embeddings for resumes
resume_embeddings = model.encode(Data_Science_data['cleaned_resume'].tolist(), show_progress_bar=True)

# Convert embeddings to a NumPy array (for efficient computation)
resume_embeddings = np.array(resume_embeddings)

Batches:   0%|          | 0/1 [00:00<?, ?it/s]

In [296]:
# Preprocess the job description
cleaned_job_desc = preprocess_text(job_description)

# Generate BERT embedding for the job description
job_desc_embedding = model.encode([cleaned_job_desc])

In [297]:
updated_resumes = compute_cosine_similarity(job_desc_embedding, resume_embeddings, Data_Science_data)

# Display the results
print("Resumes sorted by similarity score:")
print(updated_resumes)

Resumes sorted by similarity score:
        Category                                             Resume  chosen  \
6   Data Science  Skills â¢ Python â¢ Tableau â¢ Data Visuali...       0
10            HR  \n HR CONSULTANT       Summary       Subject m...       0
8   Data Science  Personal Skills â¢ Ability to quickly grasp t...       1
9   Data Science  Expertise â Data and Quantitative Analysis â...       1
3   Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...       0
5   Data Science  SKILLS C Basics, IOT, Python, MATLAB, Data Sci...       0
2   Data Science  Areas of Interest Deep Learning, Control Syste...       0
0   Data Science  Skills * Programming Languages: Python (pandas...       1
1   Data Science  Education Details \nMay 2013 to May 2017 B.E  ...       0
7   Data Science  Education Details \n B.Tech   Rayat and Bahra ...       1
4   Data Science  Education Details \n MCA   YMCAUST,  Faridabad...       0

                                       cleaned_resume  similarity_score
6   skills python tableau data visualization r stu...          0.803582
10  hr consultant summary subject matter expert hr...          0.767886
8   personal skills ability quickly grasp technica...          0.740443
9   expertise data quantitative analysis decision ...          0.689926
3   skills r python sap hana tableau sap hana sql ...          0.648497
5   skills c basics iot python matlab data science...          0.627218
2   areas interest deep learning control system de...          0.608804
0   skills programming languages python pandas num...          0.605583
1   education details may 2013 may 2017 uit-rgpvda...          0.509810
7   education details btech rayat bahra institute ...          0.449183
4   education details mca ymcaust faridabad haryan...          0.411005

In [298]:
evaluation_results = evaluate_resume_ranking_general(updated_resumes)
print("Evaluation Results:")
print(evaluation_results)

Evaluation Results:
{'precision': 0.5, 'recall': 0.5, 'ordering_accuracy': 0, 'true_chosen_indices': [8, 9, 0, 7], 'predicted_top_indices': [6, 10, 8, 9], 'TP_count': 2, 'FP_count': 2, 'FN_count': 2, 'TN_count': 5, 'TP': {8, 9}, 'FP': {10, 6}, 'FN': {0, 7}, 'TN': {1, 2, 3, 4, 5}}

In [117]:
 # Ground truth: Indices of chosen resumes
top_n=None
true_chosen_indices = updated_resumes[updated_resumes['chosen'] == 1].index.tolist()
predicted_indices = updated_resumes.sort_values(by='similarity_score', ascending=False).index.tolist()
top_n = top_n or len(true_chosen_indices)
predicted_top_indices = predicted_indices[:top_n]
correct_predictions = [idx for idx in predicted_top_indices if idx in true_chosen_indices]
precision = len(correct_predictions) / top_n
true_chosen_ordered = [idx for idx in predicted_indices if idx in true_chosen_indices]
true_chosen_indices

[8, 9, 0, 7]

# try 2  upper()

In [299]:
Data_Science_data = pd.read_csv("Data_Science_data.csv")

In [300]:
# Text preprocessing function
def preprocess_text(text):
    # Convert to lowercase 
    text = text.upper()
    # Remove special characters (but keep numbers) keep 
    text = re.sub(r'[^a-zA-Z0-9-@\s]', '', text)
    # Tokenize text
    tokens = word_tokenize(text)
    # Remove stopwords
    stop_words = set(stopwords.words('english'))
    filtered_tokens = [word for word in tokens if word not in stop_words]
    return ' '.join(filtered_tokens)

In [301]:
Data_Science_data['cleaned_resume'] = Data_Science_data['Resume'].apply(preprocess_text)
Data_Science_data

,Category,Resume,chosen,cleaned_resume
0,Data Science,Skills * Programming Languages: Python (pandas...,1,SKILLS PROGRAMMING LANGUAGES PYTHON PANDAS NUM...
1,Data Science,Education Details \nMay 2013 to May 2017 B.E ...,0,EDUCATION DETAILS MAY 2013 TO MAY 2017 BE UIT-...
2,Data Science,"Areas of Interest Deep Learning, Control Syste...",0,AREAS OF INTEREST DEEP LEARNING CONTROL SYSTEM...
3,Data Science,Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...,0,SKILLS R PYTHON SAP HANA TABLEAU SAP HANA SQL ...
4,Data Science,"Education Details \n MCA YMCAUST, Faridabad...",0,EDUCATION DETAILS MCA YMCAUST FARIDABAD HARYAN...
5,Data Science,"SKILLS C Basics, IOT, Python, MATLAB, Data Sci...",0,SKILLS C BASICS IOT PYTHON MATLAB DATA SCIENCE...
6,Data Science,Skills â¢ Python â¢ Tableau â¢ Data Visuali...,0,SKILLS PYTHON TABLEAU DATA VISUALIZATION R STU...
7,Data Science,Education Details \n B.Tech Rayat and Bahra ...,1,EDUCATION DETAILS BTECH RAYAT AND BAHRA INSTIT...
8,Data Science,Personal Skills â¢ Ability to quickly grasp t...,1,PERSONAL SKILLS ABILITY TO QUICKLY GRASP TECHN...
9,Data Science,Expertise â Data and Quantitative Analysis â...,1,EXPERTISE DATA AND QUANTITATIVE ANALYSIS DECIS...
10,HR,\n HR CONSULTANT Summary Subject m...,0,HR CONSULTANT SUMMARY SUBJECT MATTER EXPERT IN...

In [302]:
# Load the pre-trained BERT model
model = SentenceTransformer('bert-base-nli-mean-tokens')

In [303]:
# Generate BERT embeddings for resumes
resume_embeddings = model.encode(Data_Science_data['cleaned_resume'].tolist(), show_progress_bar=True)

# Convert embeddings to a NumPy array (for efficient computation)
resume_embeddings = np.array(resume_embeddings)

Batches:   0%|          | 0/1 [00:00<?, ?it/s]

In [304]:
# Preprocess the job description
cleaned_job_desc = preprocess_text(job_description)

# Generate BERT embedding for the job description
job_desc_embedding = model.encode([cleaned_job_desc])

In [305]:
updated_resumes = compute_cosine_similarity(job_desc_embedding, resume_embeddings, Data_Science_data)

# Display the results
print("Resumes sorted by similarity score:")
print(updated_resumes)

Resumes sorted by similarity score:
        Category                                             Resume  chosen  \
6   Data Science  Skills â¢ Python â¢ Tableau â¢ Data Visuali...       0
10            HR  \n HR CONSULTANT       Summary       Subject m...       0
8   Data Science  Personal Skills â¢ Ability to quickly grasp t...       1
9   Data Science  Expertise â Data and Quantitative Analysis â...       1
3   Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...       0
5   Data Science  SKILLS C Basics, IOT, Python, MATLAB, Data Sci...       0
0   Data Science  Skills * Programming Languages: Python (pandas...       1
2   Data Science  Areas of Interest Deep Learning, Control Syste...       0
1   Data Science  Education Details \nMay 2013 to May 2017 B.E  ...       0
7   Data Science  Education Details \n B.Tech   Rayat and Bahra ...       1
4   Data Science  Education Details \n MCA   YMCAUST,  Faridabad...       0

                                       cleaned_resume  similarity_score
6   SKILLS PYTHON TABLEAU DATA VISUALIZATION R STU...          0.790673
10  HR CONSULTANT SUMMARY SUBJECT MATTER EXPERT IN...          0.753414
8   PERSONAL SKILLS ABILITY TO QUICKLY GRASP TECHN...          0.713435
9   EXPERTISE DATA AND QUANTITATIVE ANALYSIS DECIS...          0.631243
3   SKILLS R PYTHON SAP HANA TABLEAU SAP HANA SQL ...          0.601220
5   SKILLS C BASICS IOT PYTHON MATLAB DATA SCIENCE...          0.579986
0   SKILLS PROGRAMMING LANGUAGES PYTHON PANDAS NUM...          0.542634
2   AREAS OF INTEREST DEEP LEARNING CONTROL SYSTEM...          0.542384
1   EDUCATION DETAILS MAY 2013 TO MAY 2017 BE UIT-...          0.462342
7   EDUCATION DETAILS BTECH RAYAT AND BAHRA INSTIT...          0.377276
4   EDUCATION DETAILS MCA YMCAUST FARIDABAD HARYAN...          0.372178

In [306]:
evaluation_results = evaluate_resume_ranking_general(updated_resumes)
print("Evaluation Results:")
print(evaluation_results)

Evaluation Results:
{'precision': 0.5, 'recall': 0.5, 'ordering_accuracy': 0, 'true_chosen_indices': [8, 9, 0, 7], 'predicted_top_indices': [6, 10, 8, 9], 'TP_count': 2, 'FP_count': 2, 'FN_count': 2, 'TN_count': 5, 'TP': {8, 9}, 'FP': {10, 6}, 'FN': {0, 7}, 'TN': {1, 2, 3, 4, 5}}

# try 3  ( with out Preprocessing)

In [307]:
Data_Science_data = pd.read_csv("Data_Science_data.csv")

In [308]:
# Load the pre-trained BERT model
model = SentenceTransformer('bert-base-nli-mean-tokens')
# Generate BERT embeddings for resumes
resume_embeddings = model.encode(Data_Science_data['Resume'].tolist(), show_progress_bar=True)

# Convert embeddings to a NumPy array (for efficient computation)
resume_embeddings = np.array(resume_embeddings)
# Generate BERT embedding for the job description
job_desc_embedding = model.encode([job_description])

Batches:   0%|          | 0/1 [00:00<?, ?it/s]

In [309]:
updated_resumes = compute_cosine_similarity(job_desc_embedding, resume_embeddings, Data_Science_data)

# Display the results
print("Resumes sorted by similarity score:")
print(updated_resumes)

Resumes sorted by similarity score:
        Category                                             Resume  chosen  \
6   Data Science  Skills â¢ Python â¢ Tableau â¢ Data Visuali...       0
10            HR  \n HR CONSULTANT       Summary       Subject m...       0
8   Data Science  Personal Skills â¢ Ability to quickly grasp t...       1
9   Data Science  Expertise â Data and Quantitative Analysis â...       1
5   Data Science  SKILLS C Basics, IOT, Python, MATLAB, Data Sci...       0
3   Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...       0
2   Data Science  Areas of Interest Deep Learning, Control Syste...       0
0   Data Science  Skills * Programming Languages: Python (pandas...       1
1   Data Science  Education Details \nMay 2013 to May 2017 B.E  ...       0
7   Data Science  Education Details \n B.Tech   Rayat and Bahra ...       1
4   Data Science  Education Details \n MCA   YMCAUST,  Faridabad...       0

    similarity_score
6           0.793481
10          0.758973
8           0.675265
9           0.627562
5           0.619737
3           0.609181
2           0.532214
0           0.500902
1           0.477447
7           0.389063
4           0.383648

In [311]:
evaluation_results = evaluate_resume_ranking_general(updated_resumes)
print("Evaluation Results:")
print(evaluation_results)

Evaluation Results:
{'precision': 0.5, 'recall': 0.5, 'ordering_accuracy': 0, 'true_chosen_indices': [8, 9, 0, 7], 'predicted_top_indices': [6, 10, 8, 9], 'TP_count': 2, 'FP_count': 2, 'FN_count': 2, 'TN_count': 5, 'TP': {8, 9}, 'FP': {10, 6}, 'FN': {0, 7}, 'TN': {1, 2, 3, 4, 5}}

# try 4 with all-MiniLM-L6-v2 model embedding lower

In [312]:
Data_Science_data = pd.read_csv("Data_Science_data.csv")

In [313]:
# Text preprocessing function
def preprocess_text(text):
    # Convert to lowercase
    text = text.lower()
    # Remove special characters (but keep numbers) keep 
    text = re.sub(r'[^a-zA-Z0-9-@\s]', '', text)
    # Tokenize text
    tokens = word_tokenize(text)
    # Remove stopwords
    stop_words = set(stopwords.words('english'))
    filtered_tokens = [word for word in tokens if word not in stop_words]
    return ' '.join(filtered_tokens)

In [314]:
Data_Science_data['cleaned_resume'] = Data_Science_data['Resume'].apply(preprocess_text)
Data_Science_data

,Category,Resume,chosen,cleaned_resume
0,Data Science,Skills * Programming Languages: Python (pandas...,1,skills programming languages python pandas num...
1,Data Science,Education Details \nMay 2013 to May 2017 B.E ...,0,education details may 2013 may 2017 uit-rgpvda...
2,Data Science,"Areas of Interest Deep Learning, Control Syste...",0,areas interest deep learning control system de...
3,Data Science,Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...,0,skills r python sap hana tableau sap hana sql ...
4,Data Science,"Education Details \n MCA YMCAUST, Faridabad...",0,education details mca ymcaust faridabad haryan...
5,Data Science,"SKILLS C Basics, IOT, Python, MATLAB, Data Sci...",0,skills c basics iot python matlab data science...
6,Data Science,Skills â¢ Python â¢ Tableau â¢ Data Visuali...,0,skills python tableau data visualization r stu...
7,Data Science,Education Details \n B.Tech Rayat and Bahra ...,1,education details btech rayat bahra institute ...
8,Data Science,Personal Skills â¢ Ability to quickly grasp t...,1,personal skills ability quickly grasp technica...
9,Data Science,Expertise â Data and Quantitative Analysis â...,1,expertise data quantitative analysis decision ...
10,HR,\n HR CONSULTANT Summary Subject m...,0,hr consultant summary subject matter expert hr...

In [315]:
# Load the pre-trained BERT model
model = SentenceTransformer('all-MiniLM-L6-v2')
# Generate BERT embeddings for resumes
resume_embeddings = model.encode(Data_Science_data['cleaned_resume'].tolist(), show_progress_bar=True)

# Convert embeddings to a NumPy array (for efficient computation)
resume_embeddings = np.array(resume_embeddings)
# Preprocess the job description
cleaned_job_desc = preprocess_text(job_description)

# Generate BERT embedding for the job description
job_desc_embedding = model.encode([cleaned_job_desc])

Batches:   0%|          | 0/1 [00:00<?, ?it/s]

In [316]:
updated_resumes = compute_cosine_similarity(job_desc_embedding, resume_embeddings, Data_Science_data)

# Display the results
print("Resumes sorted by similarity score:")
print(updated_resumes)

Resumes sorted by similarity score:
        Category                                             Resume  chosen  \
8   Data Science  Personal Skills â¢ Ability to quickly grasp t...       1
7   Data Science  Education Details \n B.Tech   Rayat and Bahra ...       1
0   Data Science  Skills * Programming Languages: Python (pandas...       1
9   Data Science  Expertise â Data and Quantitative Analysis â...       1
6   Data Science  Skills â¢ Python â¢ Tableau â¢ Data Visuali...       0
1   Data Science  Education Details \nMay 2013 to May 2017 B.E  ...       0
10            HR  \n HR CONSULTANT       Summary       Subject m...       0
2   Data Science  Areas of Interest Deep Learning, Control Syste...       0
3   Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...       0
5   Data Science  SKILLS C Basics, IOT, Python, MATLAB, Data Sci...       0
4   Data Science  Education Details \n MCA   YMCAUST,  Faridabad...       0

                                       cleaned_resume  similarity_score
8   personal skills ability quickly grasp technica...          0.702186
7   education details btech rayat bahra institute ...          0.700334
0   skills programming languages python pandas num...          0.693810
9   expertise data quantitative analysis decision ...          0.681737
6   skills python tableau data visualization r stu...          0.668836
1   education details may 2013 may 2017 uit-rgpvda...          0.609117
10  hr consultant summary subject matter expert hr...          0.604349
2   areas interest deep learning control system de...          0.601863
3   skills r python sap hana tableau sap hana sql ...          0.548185
5   skills c basics iot python matlab data science...          0.535058
4   education details mca ymcaust faridabad haryan...          0.413073

In [317]:
evaluation_results = evaluate_resume_ranking_general(updated_resumes)
print("Evaluation Results:")
print(evaluation_results)

Evaluation Results:
{'precision': 1.0, 'recall': 1.0, 'ordering_accuracy': 1, 'true_chosen_indices': [8, 7, 0, 9], 'predicted_top_indices': [8, 7, 0, 9], 'TP_count': 4, 'FP_count': 0, 'FN_count': 0, 'TN_count': 7, 'TP': {8, 0, 9, 7}, 'FP': set(), 'FN': set(), 'TN': {1, 2, 3, 4, 5, 6, 10}}

# try 5 with all-MiniLM-L6-v2 model embedding upper

In [318]:
# Text preprocessing function
def preprocess_text(text):
    # Convert to lowercase , try upper 
    text = text.upper()
    # Remove special characters (but keep numbers) keep 
    text = re.sub(r'[^a-zA-Z0-9-@\s]', '', text)
    # Tokenize text
    tokens = word_tokenize(text)
    # Remove stopwords
    stop_words = set(stopwords.words('english'))
    filtered_tokens = [word for word in tokens if word not in stop_words]
    return ' '.join(filtered_tokens)

In [319]:
Data_Science_data['cleaned_resume'] = Data_Science_data['Resume'].apply(preprocess_text)
Data_Science_data

,Category,Resume,chosen,cleaned_resume
0,Data Science,Skills * Programming Languages: Python (pandas...,1,SKILLS PROGRAMMING LANGUAGES PYTHON PANDAS NUM...
1,Data Science,Education Details \nMay 2013 to May 2017 B.E ...,0,EDUCATION DETAILS MAY 2013 TO MAY 2017 BE UIT-...
2,Data Science,"Areas of Interest Deep Learning, Control Syste...",0,AREAS OF INTEREST DEEP LEARNING CONTROL SYSTEM...
3,Data Science,Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...,0,SKILLS R PYTHON SAP HANA TABLEAU SAP HANA SQL ...
4,Data Science,"Education Details \n MCA YMCAUST, Faridabad...",0,EDUCATION DETAILS MCA YMCAUST FARIDABAD HARYAN...
5,Data Science,"SKILLS C Basics, IOT, Python, MATLAB, Data Sci...",0,SKILLS C BASICS IOT PYTHON MATLAB DATA SCIENCE...
6,Data Science,Skills â¢ Python â¢ Tableau â¢ Data Visuali...,0,SKILLS PYTHON TABLEAU DATA VISUALIZATION R STU...
7,Data Science,Education Details \n B.Tech Rayat and Bahra ...,1,EDUCATION DETAILS BTECH RAYAT AND BAHRA INSTIT...
8,Data Science,Personal Skills â¢ Ability to quickly grasp t...,1,PERSONAL SKILLS ABILITY TO QUICKLY GRASP TECHN...
9,Data Science,Expertise â Data and Quantitative Analysis â...,1,EXPERTISE DATA AND QUANTITATIVE ANALYSIS DECIS...
10,HR,\n HR CONSULTANT Summary Subject m...,0,HR CONSULTANT SUMMARY SUBJECT MATTER EXPERT IN...

In [320]:
# Load the pre-trained BERT model
model = SentenceTransformer('all-MiniLM-L6-v2')
# Generate BERT embeddings for resumes
resume_embeddings = model.encode(Data_Science_data['cleaned_resume'].tolist(), show_progress_bar=True)

# Convert embeddings to a NumPy array (for efficient computation)
resume_embeddings = np.array(resume_embeddings)
# Preprocess the job description
cleaned_job_desc = preprocess_text(job_description)

# Generate BERT embedding for the job description
job_desc_embedding = model.encode([cleaned_job_desc])

Batches:   0%|          | 0/1 [00:00<?, ?it/s]

In [321]:
updated_resumes = compute_cosine_similarity(job_desc_embedding, resume_embeddings, Data_Science_data)

# Display the results
print("Resumes sorted by similarity score:")
print(updated_resumes)

Resumes sorted by similarity score:
        Category                                             Resume  chosen  \
7   Data Science  Education Details \n B.Tech   Rayat and Bahra ...       1
8   Data Science  Personal Skills â¢ Ability to quickly grasp t...       1
9   Data Science  Expertise â Data and Quantitative Analysis â...       1
1   Data Science  Education Details \nMay 2013 to May 2017 B.E  ...       0
5   Data Science  SKILLS C Basics, IOT, Python, MATLAB, Data Sci...       0
0   Data Science  Skills * Programming Languages: Python (pandas...       1
6   Data Science  Skills â¢ Python â¢ Tableau â¢ Data Visuali...       0
2   Data Science  Areas of Interest Deep Learning, Control Syste...       0
3   Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...       0
10            HR  \n HR CONSULTANT       Summary       Subject m...       0
4   Data Science  Education Details \n MCA   YMCAUST,  Faridabad...       0

                                       cleaned_resume  similarity_score
7   EDUCATION DETAILS BTECH RAYAT AND BAHRA INSTIT...          0.671469
8   PERSONAL SKILLS ABILITY TO QUICKLY GRASP TECHN...          0.586641
9   EXPERTISE DATA AND QUANTITATIVE ANALYSIS DECIS...          0.516333
1   EDUCATION DETAILS MAY 2013 TO MAY 2017 BE UIT-...          0.514922
5   SKILLS C BASICS IOT PYTHON MATLAB DATA SCIENCE...          0.496882
0   SKILLS PROGRAMMING LANGUAGES PYTHON PANDAS NUM...          0.490891
6   SKILLS PYTHON TABLEAU DATA VISUALIZATION R STU...          0.483707
2   AREAS OF INTEREST DEEP LEARNING CONTROL SYSTEM...          0.479465
3   SKILLS R PYTHON SAP HANA TABLEAU SAP HANA SQL ...          0.451775
10  HR CONSULTANT SUMMARY SUBJECT MATTER EXPERT IN...          0.404773
4   EDUCATION DETAILS MCA YMCAUST FARIDABAD HARYAN...          0.333688

In [322]:
evaluation_results = evaluate_resume_ranking_general(updated_resumes)
print("Evaluation Results:")
print(evaluation_results)

Evaluation Results:
{'precision': 0.75, 'recall': 0.75, 'ordering_accuracy': 0, 'true_chosen_indices': [7, 8, 9, 0], 'predicted_top_indices': [7, 8, 9, 1], 'TP_count': 3, 'FP_count': 1, 'FN_count': 1, 'TN_count': 6, 'TP': {8, 9, 7}, 'FP': {1}, 'FN': {0}, 'TN': {2, 3, 4, 5, 6, 10}}

# try 6 with all-MiniLM-L6-v2 model embedding ( with out Preprocessing)

In [323]:
Data_Science_data = pd.read_csv("Data_Science_data.csv")

In [324]:
# Load the pre-trained BERT model
model = SentenceTransformer('all-MiniLM-L6-v2')
# Generate BERT embeddings for resumes
resume_embeddings = model.encode(Data_Science_data['Resume'].tolist(), show_progress_bar=True)

# Convert embeddings to a NumPy array (for efficient computation)
resume_embeddings = np.array(resume_embeddings)
# Generate BERT embedding for the job description
job_desc_embedding = model.encode([cleaned_job_desc])

Batches:   0%|          | 0/1 [00:00<?, ?it/s]

In [325]:
updated_resumes = compute_cosine_similarity(job_desc_embedding, resume_embeddings, Data_Science_data)

# Display the results
print("Resumes sorted by similarity score:")
print(updated_resumes)

Resumes sorted by similarity score:
        Category                                             Resume  chosen  \
8   Data Science  Personal Skills â¢ Ability to quickly grasp t...       1
7   Data Science  Education Details \n B.Tech   Rayat and Bahra ...       1
0   Data Science  Skills * Programming Languages: Python (pandas...       1
3   Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...       0
6   Data Science  Skills â¢ Python â¢ Tableau â¢ Data Visuali...       0
2   Data Science  Areas of Interest Deep Learning, Control Syste...       0
9   Data Science  Expertise â Data and Quantitative Analysis â...       1
1   Data Science  Education Details \nMay 2013 to May 2017 B.E  ...       0
5   Data Science  SKILLS C Basics, IOT, Python, MATLAB, Data Sci...       0
10            HR  \n HR CONSULTANT       Summary       Subject m...       0
4   Data Science  Education Details \n MCA   YMCAUST,  Faridabad...       0

    similarity_score
8           0.624288
7           0.606203
0           0.515606
3           0.479428
6           0.475822
2           0.472908
9           0.471966
1           0.471800
5           0.462441
10          0.408543
4           0.316363

In [327]:
evaluation_results = evaluate_resume_ranking_general(updated_resumes)
print("Evaluation Results:")
print(evaluation_results)

Evaluation Results:
{'precision': 0.75, 'recall': 0.75, 'ordering_accuracy': 0, 'true_chosen_indices': [8, 7, 0, 9], 'predicted_top_indices': [8, 7, 0, 3], 'TP_count': 3, 'FP_count': 1, 'FN_count': 1, 'TN_count': 6, 'TP': {8, 0, 7}, 'FP': {3}, 'FN': {9}, 'TN': {1, 2, 4, 5, 6, 10}}

# try 7 with all-MiniLM-L6-v2 model embedding lower with normlize the embedding

In [328]:
Data_Science_data = pd.read_csv("Data_Science_data.csv")

In [329]:
# Text preprocessing function
def preprocess_text(text):
    # Convert to lowercase
    text = text.lower()
    # Remove special characters (but keep numbers) keep 
    text = re.sub(r'[^a-zA-Z0-9-@\s]', '', text)
    # Tokenize text
    tokens = word_tokenize(text)
    # Remove stopwords
    stop_words = set(stopwords.words('english'))
    filtered_tokens = [word for word in tokens if word not in stop_words]
    return ' '.join(filtered_tokens)

In [330]:
Data_Science_data['cleaned_resume'] = Data_Science_data['Resume'].apply(preprocess_text)
Data_Science_data

,Category,Resume,chosen,cleaned_resume
0,Data Science,Skills * Programming Languages: Python (pandas...,1,skills programming languages python pandas num...
1,Data Science,Education Details \nMay 2013 to May 2017 B.E ...,0,education details may 2013 may 2017 uit-rgpvda...
2,Data Science,"Areas of Interest Deep Learning, Control Syste...",0,areas interest deep learning control system de...
3,Data Science,Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...,0,skills r python sap hana tableau sap hana sql ...
4,Data Science,"Education Details \n MCA YMCAUST, Faridabad...",0,education details mca ymcaust faridabad haryan...
5,Data Science,"SKILLS C Basics, IOT, Python, MATLAB, Data Sci...",0,skills c basics iot python matlab data science...
6,Data Science,Skills â¢ Python â¢ Tableau â¢ Data Visuali...,0,skills python tableau data visualization r stu...
7,Data Science,Education Details \n B.Tech Rayat and Bahra ...,1,education details btech rayat bahra institute ...
8,Data Science,Personal Skills â¢ Ability to quickly grasp t...,1,personal skills ability quickly grasp technica...
9,Data Science,Expertise â Data and Quantitative Analysis â...,1,expertise data quantitative analysis decision ...
10,HR,\n HR CONSULTANT Summary Subject m...,0,hr consultant summary subject matter expert hr...

In [331]:

# Load the pre-trained BERT model
model = SentenceTransformer('all-MiniLM-L6-v2')

# Generate BERT embeddings for resumes
resume_embeddings = model.encode(Data_Science_data['cleaned_resume'].tolist(), show_progress_bar=True)

# Convert the embeddings to a PyTorch tensor
resume_embeddings = torch.tensor(resume_embeddings)

# Normalize the resume embeddings (using PyTorch's normalize function)
resume_embeddings = torch.nn.functional.normalize(resume_embeddings, p=2, dim=1)

Batches:   0%|          | 0/1 [00:00<?, ?it/s]

In [332]:
# Preprocess the job description
cleaned_job_desc = preprocess_text(job_description)

# Generate BERT embedding for the job description
job_desc_embedding = model.encode([cleaned_job_desc])

# Convert the job description embedding to a PyTorch tensor
job_desc_embedding = torch.tensor(job_desc_embedding)

# Normalize the job description embedding
job_desc_embedding = torch.nn.functional.normalize(job_desc_embedding, p=2, dim=1)

In [334]:
# Compute the cosine similarity and update the resumes DataFrame
updated_resumes = compute_cosine_similarity(job_desc_embedding.detach().numpy(), resume_embeddings.detach().numpy(), Data_Science_data)

# Display the results
print("Resumes sorted by similarity score:")
print(updated_resumes[['Resume', 'similarity_score',"chosen"]])

evaluation_results = evaluate_resume_ranking_general(updated_resumes)
print("Evaluation Results:")
print(evaluation_results)

Resumes sorted by similarity score:
                                               Resume  similarity_score  \
8   Personal Skills â¢ Ability to quickly grasp t...          0.702185
7   Education Details \n B.Tech   Rayat and Bahra ...          0.700333
0   Skills * Programming Languages: Python (pandas...          0.693809
9   Expertise â Data and Quantitative Analysis â...          0.681737
6   Skills â¢ Python â¢ Tableau â¢ Data Visuali...          0.668836
1   Education Details \nMay 2013 to May 2017 B.E  ...          0.609117
10  \n HR CONSULTANT       Summary       Subject m...          0.604349
2   Areas of Interest Deep Learning, Control Syste...          0.601863
3   Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...          0.548185
5   SKILLS C Basics, IOT, Python, MATLAB, Data Sci...          0.535058
4   Education Details \n MCA   YMCAUST,  Faridabad...          0.413073

    chosen
8        1
7        1
0        1
9        1
6        0
1        0
10       0
2        0
3        0
5        0
4        0
Evaluation Results:
{'precision': 1.0, 'recall': 1.0, 'ordering_accuracy': 1, 'true_chosen_indices': [8, 7, 0, 9], 'predicted_top_indices': [8, 7, 0, 9], 'TP_count': 4, 'FP_count': 0, 'FN_count': 0, 'TN_count': 7, 'TP': {8, 0, 9, 7}, 'FP': set(), 'FN': set(), 'TN': {1, 2, 3, 4, 5, 6, 10}}

# try 8   with bm25 and without Preprocessing

In [335]:
Data_Science_data = pd.read_csv("Data_Science_data.csv")

In [336]:
# Step 1: BM25 Scoring
# Preprocess resumes and job description
tokenized_resumes = [resume.split() for resume in Data_Science_data['Resume']]
tokenized_job_description = job_description.split()

# BM25 model --> The scores reflect how well each resume matches the job description query.
bm25 = BM25Okapi(tokenized_resumes)
bm25_scores = bm25.get_scores(tokenized_job_description)

# Step 3: Add Results to DataFrame
Data_Science_data['BM25_Score'] = bm25_scores  # Ensure BM25 scores are assigned to this column

# Step 4: Rank Results by Scaled BM25 Score
Data_Science_data_sorted = Data_Science_data.sort_values(by='BM25_Score', ascending=False)

# Display the top results
print(Data_Science_data_sorted[['Resume', 'BM25_Score', 'chosen']])

                                               Resume  BM25_Score  chosen
10  \n HR CONSULTANT       Summary       Subject m...   90.493429       0
7   Education Details \n B.Tech   Rayat and Bahra ...   87.721851       1
3   Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...   85.804243       0
0   Skills * Programming Languages: Python (pandas...   68.810643       1
9   Expertise â Data and Quantitative Analysis â...   64.378905       1
8   Personal Skills â¢ Ability to quickly grasp t...   61.494081       1
6   Skills â¢ Python â¢ Tableau â¢ Data Visuali...   61.212156       0
2   Areas of Interest Deep Learning, Control Syste...   50.024071       0
1   Education Details \nMay 2013 to May 2017 B.E  ...   35.712254       0
5   SKILLS C Basics, IOT, Python, MATLAB, Data Sci...   24.544670       0
4   Education Details \n MCA   YMCAUST,  Faridabad...    0.000000       0

In [337]:
evaluation_results = evaluate_resume_ranking_general(Data_Science_data_sorted)
print("Evaluation Results:")
print(evaluation_results)

Evaluation Results:
{'precision': 0.5, 'recall': 0.5, 'ordering_accuracy': 0, 'true_chosen_indices': [7, 0, 9, 8], 'predicted_top_indices': [10, 7, 3, 0], 'TP_count': 2, 'FP_count': 2, 'FN_count': 2, 'TN_count': 5, 'TP': {0, 7}, 'FP': {10, 3}, 'FN': {8, 9}, 'TN': {1, 2, 4, 5, 6}}

# try 9   with bm25 and with Preprocessing

In [338]:
Data_Science_data = pd.read_csv("Data_Science_data.csv")

In [339]:
# Text preprocessing function
def preprocess_text(text):
    # Convert to lowercase
    text = text.lower()
    # Remove special characters (but keep numbers) keep 
    text = re.sub(r'[^a-zA-Z0-9-@\s]', '', text)
    # Tokenize text
    tokens = word_tokenize(text)
    # Remove stopwords
    stop_words = set(stopwords.words('english'))
    filtered_tokens = [word for word in tokens if word not in stop_words]
    return ' '.join(filtered_tokens)

In [340]:
Data_Science_data['cleaned_resume'] = Data_Science_data['Resume'].apply(preprocess_text)
Data_Science_data

,Category,Resume,chosen,cleaned_resume
0,Data Science,Skills * Programming Languages: Python (pandas...,1,skills programming languages python pandas num...
1,Data Science,Education Details \nMay 2013 to May 2017 B.E ...,0,education details may 2013 may 2017 uit-rgpvda...
2,Data Science,"Areas of Interest Deep Learning, Control Syste...",0,areas interest deep learning control system de...
3,Data Science,Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...,0,skills r python sap hana tableau sap hana sql ...
4,Data Science,"Education Details \n MCA YMCAUST, Faridabad...",0,education details mca ymcaust faridabad haryan...
5,Data Science,"SKILLS C Basics, IOT, Python, MATLAB, Data Sci...",0,skills c basics iot python matlab data science...
6,Data Science,Skills â¢ Python â¢ Tableau â¢ Data Visuali...,0,skills python tableau data visualization r stu...
7,Data Science,Education Details \n B.Tech Rayat and Bahra ...,1,education details btech rayat bahra institute ...
8,Data Science,Personal Skills â¢ Ability to quickly grasp t...,1,personal skills ability quickly grasp technica...
9,Data Science,Expertise â Data and Quantitative Analysis â...,1,expertise data quantitative analysis decision ...
10,HR,\n HR CONSULTANT Summary Subject m...,0,hr consultant summary subject matter expert hr...

In [341]:
# Step 1: BM25 Scoring
# Preprocess resumes and job description
tokenized_resumes = [resume.split() for resume in Data_Science_data['cleaned_resume']]
tokenized_job_description = job_description.split()

# BM25 model --> The scores reflect how well each resume matches the job description query.
bm25 = BM25Okapi(tokenized_resumes)
bm25_scores = bm25.get_scores(tokenized_job_description)

# Step 3: Add Results to DataFrame
Data_Science_data['BM25_Score'] = bm25_scores  # Ensure BM25 scores are assigned to this column

# Step 4: Rank Results by Scaled BM25 Score
Data_Science_data_sorted = Data_Science_data.sort_values(by='BM25_Score', ascending=False)

# Display the top results
print(Data_Science_data_sorted[['cleaned_resume', 'BM25_Score', 'chosen']])

                                       cleaned_resume  BM25_Score  chosen
3   skills r python sap hana tableau sap hana sql ...   36.149254       0
10  hr consultant summary subject matter expert hr...   31.572081       0
7   education details btech rayat bahra institute ...   30.681499       1
8   personal skills ability quickly grasp technica...   24.336544       1
6   skills python tableau data visualization r stu...   20.520494       0
9   expertise data quantitative analysis decision ...   17.261120       1
0   skills programming languages python pandas num...   16.508494       1
2   areas interest deep learning control system de...    8.755708       0
1   education details may 2013 may 2017 uit-rgpvda...    7.753676       0
5   skills c basics iot python matlab data science...    7.104779       0
4   education details mca ymcaust faridabad haryan...    0.833060       0

In [342]:
evaluation_results = evaluate_resume_ranking_general(Data_Science_data_sorted)
print("Evaluation Results:")
print(evaluation_results)

Evaluation Results:
{'precision': 0.5, 'recall': 0.5, 'ordering_accuracy': 0, 'true_chosen_indices': [7, 8, 9, 0], 'predicted_top_indices': [3, 10, 7, 8], 'TP_count': 2, 'FP_count': 2, 'FN_count': 2, 'TN_count': 5, 'TP': {8, 7}, 'FP': {10, 3}, 'FN': {0, 9}, 'TN': {1, 2, 4, 5, 6}}

# try 10   with bm25 and with Preprocessing upper

In [343]:
Data_Science_data = pd.read_csv("Data_Science_data.csv")

In [344]:
# Text preprocessing function
def preprocess_text(text):
    # Convert to lowercase
    text = text.upper()
    # Remove special characters (but keep numbers) keep 
    text = re.sub(r'[^a-zA-Z0-9-@\s]', '', text)
    # Tokenize text
    tokens = word_tokenize(text)
    # Remove stopwords
    stop_words = set(stopwords.words('english'))
    filtered_tokens = [word for word in tokens if word not in stop_words]
    return ' '.join(filtered_tokens)

In [345]:
Data_Science_data['cleaned_resume'] = Data_Science_data['Resume'].apply(preprocess_text)
Data_Science_data

,Category,Resume,chosen,cleaned_resume
0,Data Science,Skills * Programming Languages: Python (pandas...,1,SKILLS PROGRAMMING LANGUAGES PYTHON PANDAS NUM...
1,Data Science,Education Details \nMay 2013 to May 2017 B.E ...,0,EDUCATION DETAILS MAY 2013 TO MAY 2017 BE UIT-...
2,Data Science,"Areas of Interest Deep Learning, Control Syste...",0,AREAS OF INTEREST DEEP LEARNING CONTROL SYSTEM...
3,Data Science,Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...,0,SKILLS R PYTHON SAP HANA TABLEAU SAP HANA SQL ...
4,Data Science,"Education Details \n MCA YMCAUST, Faridabad...",0,EDUCATION DETAILS MCA YMCAUST FARIDABAD HARYAN...
5,Data Science,"SKILLS C Basics, IOT, Python, MATLAB, Data Sci...",0,SKILLS C BASICS IOT PYTHON MATLAB DATA SCIENCE...
6,Data Science,Skills â¢ Python â¢ Tableau â¢ Data Visuali...,0,SKILLS PYTHON TABLEAU DATA VISUALIZATION R STU...
7,Data Science,Education Details \n B.Tech Rayat and Bahra ...,1,EDUCATION DETAILS BTECH RAYAT AND BAHRA INSTIT...
8,Data Science,Personal Skills â¢ Ability to quickly grasp t...,1,PERSONAL SKILLS ABILITY TO QUICKLY GRASP TECHN...
9,Data Science,Expertise â Data and Quantitative Analysis â...,1,EXPERTISE DATA AND QUANTITATIVE ANALYSIS DECIS...
10,HR,\n HR CONSULTANT Summary Subject m...,0,HR CONSULTANT SUMMARY SUBJECT MATTER EXPERT IN...

In [346]:
# Step 1: BM25 Scoring
# Preprocess resumes and job description
tokenized_resumes = [resume.split() for resume in Data_Science_data['cleaned_resume']]
tokenized_job_description = job_description.split()

# BM25 model --> The scores reflect how well each resume matches the job description query.
bm25 = BM25Okapi(tokenized_resumes)
bm25_scores = bm25.get_scores(tokenized_job_description)

# Step 3: Add Results to DataFrame
Data_Science_data['BM25_Score'] = bm25_scores  # Ensure BM25 scores are assigned to this column

# Step 4: Rank Results by Scaled BM25 Score
Data_Science_data_sorted = Data_Science_data.sort_values(by='BM25_Score', ascending=False)

# Display the top results
print(Data_Science_data_sorted[['cleaned_resume', 'BM25_Score', 'chosen']])

                                       cleaned_resume  BM25_Score  chosen
6   SKILLS PYTHON TABLEAU DATA VISUALIZATION R STU...   13.014297       0
0   SKILLS PROGRAMMING LANGUAGES PYTHON PANDAS NUM...    0.000000       1
1   EDUCATION DETAILS MAY 2013 TO MAY 2017 BE UIT-...    0.000000       0
2   AREAS OF INTEREST DEEP LEARNING CONTROL SYSTEM...    0.000000       0
3   SKILLS R PYTHON SAP HANA TABLEAU SAP HANA SQL ...    0.000000       0
4   EDUCATION DETAILS MCA YMCAUST FARIDABAD HARYAN...    0.000000       0
5   SKILLS C BASICS IOT PYTHON MATLAB DATA SCIENCE...    0.000000       0
7   EDUCATION DETAILS BTECH RAYAT AND BAHRA INSTIT...    0.000000       1
8   PERSONAL SKILLS ABILITY TO QUICKLY GRASP TECHN...    0.000000       1
9   EXPERTISE DATA AND QUANTITATIVE ANALYSIS DECIS...    0.000000       1
10  HR CONSULTANT SUMMARY SUBJECT MATTER EXPERT IN...    0.000000       0

In [347]:
evaluation_results = evaluate_resume_ranking_general(Data_Science_data_sorted)
print("Evaluation Results:")
print(evaluation_results)

Evaluation Results:
{'precision': 0.25, 'recall': 0.25, 'ordering_accuracy': 0, 'true_chosen_indices': [0, 7, 8, 9], 'predicted_top_indices': [6, 0, 1, 2], 'TP_count': 1, 'FP_count': 3, 'FN_count': 3, 'TN_count': 4, 'TP': {0}, 'FP': {1, 2, 6}, 'FN': {8, 9, 7}, 'TN': {10, 3, 4, 5}}

# try 11: cosin + BM25 --> hybrid approach

In [348]:
Data_Science_data = pd.read_csv("Data_Science_data.csv")

In [349]:
# Text preprocessing function
def preprocess_text(text):
    # Convert to lowercase
    text = text.lower()
    # Remove special characters (but keep numbers) keep 
    text = re.sub(r'[^a-zA-Z0-9-@\s]', '', text)
    # Tokenize text
    tokens = word_tokenize(text)
    # Remove stopwords
    stop_words = set(stopwords.words('english'))
    filtered_tokens = [word for word in tokens if word not in stop_words]
    return ' '.join(filtered_tokens)

In [350]:
Data_Science_data['cleaned_resume'] = Data_Science_data['Resume'].apply(preprocess_text)
Data_Science_data

,Category,Resume,chosen,cleaned_resume
0,Data Science,Skills * Programming Languages: Python (pandas...,1,skills programming languages python pandas num...
1,Data Science,Education Details \nMay 2013 to May 2017 B.E ...,0,education details may 2013 may 2017 uit-rgpvda...
2,Data Science,"Areas of Interest Deep Learning, Control Syste...",0,areas interest deep learning control system de...
3,Data Science,Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...,0,skills r python sap hana tableau sap hana sql ...
4,Data Science,"Education Details \n MCA YMCAUST, Faridabad...",0,education details mca ymcaust faridabad haryan...
5,Data Science,"SKILLS C Basics, IOT, Python, MATLAB, Data Sci...",0,skills c basics iot python matlab data science...
6,Data Science,Skills â¢ Python â¢ Tableau â¢ Data Visuali...,0,skills python tableau data visualization r stu...
7,Data Science,Education Details \n B.Tech Rayat and Bahra ...,1,education details btech rayat bahra institute ...
8,Data Science,Personal Skills â¢ Ability to quickly grasp t...,1,personal skills ability quickly grasp technica...
9,Data Science,Expertise â Data and Quantitative Analysis â...,1,expertise data quantitative analysis decision ...
10,HR,\n HR CONSULTANT Summary Subject m...,0,hr consultant summary subject matter expert hr...

In [351]:
# Load the pre-trained BERT model
model = SentenceTransformer('all-MiniLM-L6-v2')
# Generate BERT embeddings for resumes
resume_embeddings = model.encode(Data_Science_data['cleaned_resume'].tolist(), show_progress_bar=True)

# Convert embeddings to a NumPy array (for efficient computation)
resume_embeddings = np.array(resume_embeddings)
# Preprocess the job description
cleaned_job_desc = preprocess_text(job_describtion)

# Generate BERT embedding for the job description
job_desc_embedding = model.encode([cleaned_job_desc])

Batches:   0%|          | 0/1 [00:00<?, ?it/s]

In [352]:
updated_resumes = compute_cosine_similarity(job_desc_embedding, resume_embeddings, Data_Science_data)

# Display the results
print("Resumes sorted by similarity score:")
print(updated_resumes)

Resumes sorted by similarity score:
        Category                                             Resume  chosen  \
8   Data Science  Personal Skills â¢ Ability to quickly grasp t...       1
7   Data Science  Education Details \n B.Tech   Rayat and Bahra ...       1
0   Data Science  Skills * Programming Languages: Python (pandas...       1
9   Data Science  Expertise â Data and Quantitative Analysis â...       1
6   Data Science  Skills â¢ Python â¢ Tableau â¢ Data Visuali...       0
1   Data Science  Education Details \nMay 2013 to May 2017 B.E  ...       0
10            HR  \n HR CONSULTANT       Summary       Subject m...       0
2   Data Science  Areas of Interest Deep Learning, Control Syste...       0
3   Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...       0
5   Data Science  SKILLS C Basics, IOT, Python, MATLAB, Data Sci...       0
4   Data Science  Education Details \n MCA   YMCAUST,  Faridabad...       0

                                       cleaned_resume  similarity_score
8   personal skills ability quickly grasp technica...          0.702186
7   education details btech rayat bahra institute ...          0.700334
0   skills programming languages python pandas num...          0.693810
9   expertise data quantitative analysis decision ...          0.681737
6   skills python tableau data visualization r stu...          0.668836
1   education details may 2013 may 2017 uit-rgpvda...          0.609117
10  hr consultant summary subject matter expert hr...          0.604349
2   areas interest deep learning control system de...          0.601863
3   skills r python sap hana tableau sap hana sql ...          0.548185
5   skills c basics iot python matlab data science...          0.535058
4   education details mca ymcaust faridabad haryan...          0.413073

In [81]:
updated_resumes

,Category,Resume,chosen,cleaned_resume,similarity_score
8,Data Science,Personal Skills â¢ Ability to quickly grasp t...,1,personal skills ability quickly grasp technica...,0.702186
7,Data Science,Education Details \n B.Tech Rayat and Bahra ...,1,education details btech rayat bahra institute ...,0.700334
0,Data Science,Skills * Programming Languages: Python (pandas...,1,skills programming languages python pandas num...,0.693810
9,Data Science,Expertise â Data and Quantitative Analysis â...,1,expertise data quantitative analysis decision ...,0.681737
6,Data Science,Skills â¢ Python â¢ Tableau â¢ Data Visuali...,0,skills python tableau data visualization r stu...,0.668836
1,Data Science,Education Details \nMay 2013 to May 2017 B.E ...,0,education details may 2013 may 2017 uit-rgpvda...,0.609117
10,HR,\n HR CONSULTANT Summary Subject m...,0,hr consultant summary subject matter expert hr...,0.604349
2,Data Science,"Areas of Interest Deep Learning, Control Syste...",0,areas interest deep learning control system de...,0.601863
3,Data Science,Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...,0,skills r python sap hana tableau sap hana sql ...,0.548185
5,Data Science,"SKILLS C Basics, IOT, Python, MATLAB, Data Sci...",0,skills c basics iot python matlab data science...,0.535058
4,Data Science,"Education Details \n MCA YMCAUST, Faridabad...",0,education details mca ymcaust faridabad haryan...,0.413073

In [353]:
# Step 1: BM25 Scoring
# Preprocess resumes and job description
tokenized_resumes = [resume.split() for resume in updated_resumes['cleaned_resume']]
tokenized_job_description = job_describtion.split()

# BM25 model --> The scores reflect how well each resume matches the job description query.
bm25 = BM25Okapi(tokenized_resumes)
bm25_scores = bm25.get_scores(tokenized_job_description)

# Step 3: Add Results to DataFrame
updated_resumes['BM25_Score'] = bm25_scores  # Ensure BM25 scores are assigned to this column

# Step 4: Rank Results by Scaled BM25 Score
updated_resumes_sorted = updated_resumes.sort_values(by='BM25_Score', ascending=False)

# Display the top results
print(updated_resumes_sorted[['cleaned_resume', 'BM25_Score', 'chosen',"similarity_score"]])

                                       cleaned_resume  BM25_Score  chosen  \
3   skills r python sap hana tableau sap hana sql ...   36.149254       0
10  hr consultant summary subject matter expert hr...   31.572081       0
7   education details btech rayat bahra institute ...   30.681499       1
8   personal skills ability quickly grasp technica...   24.336544       1
6   skills python tableau data visualization r stu...   20.520494       0
9   expertise data quantitative analysis decision ...   17.261120       1
0   skills programming languages python pandas num...   16.508494       1
2   areas interest deep learning control system de...    8.755708       0
1   education details may 2013 may 2017 uit-rgpvda...    7.753676       0
5   skills c basics iot python matlab data science...    7.104779       0
4   education details mca ymcaust faridabad haryan...    0.833060       0

    similarity_score
3           0.548185
10          0.604349
7           0.700334
8           0.702186
6           0.668836
9           0.681737
0           0.693810
2           0.601863
1           0.609117
5           0.535058
4           0.413073

In [354]:
updated_resumes_sorted

,Category,Resume,chosen,cleaned_resume,similarity_score,BM25_Score
3,Data Science,Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...,0,skills r python sap hana tableau sap hana sql ...,0.548185,36.149254
10,HR,\n HR CONSULTANT Summary Subject m...,0,hr consultant summary subject matter expert hr...,0.604349,31.572081
7,Data Science,Education Details \n B.Tech Rayat and Bahra ...,1,education details btech rayat bahra institute ...,0.700334,30.681499
8,Data Science,Personal Skills â¢ Ability to quickly grasp t...,1,personal skills ability quickly grasp technica...,0.702186,24.336544
6,Data Science,Skills â¢ Python â¢ Tableau â¢ Data Visuali...,0,skills python tableau data visualization r stu...,0.668836,20.520494
9,Data Science,Expertise â Data and Quantitative Analysis â...,1,expertise data quantitative analysis decision ...,0.681737,17.261120
0,Data Science,Skills * Programming Languages: Python (pandas...,1,skills programming languages python pandas num...,0.693810,16.508494
2,Data Science,"Areas of Interest Deep Learning, Control Syste...",0,areas interest deep learning control system de...,0.601863,8.755708
1,Data Science,Education Details \nMay 2013 to May 2017 B.E ...,0,education details may 2013 may 2017 uit-rgpvda...,0.609117,7.753676
5,Data Science,"SKILLS C Basics, IOT, Python, MATLAB, Data Sci...",0,skills c basics iot python matlab data science...,0.535058,7.104779
4,Data Science,"Education Details \n MCA YMCAUST, Faridabad...",0,education details mca ymcaust faridabad haryan...,0.413073,0.833060

In [355]:
updated_resumes_sorted.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11 entries, 3 to 4
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Category          11 non-null     object
 1   Resume            11 non-null     object
 2   chosen            11 non-null     int64
 3   cleaned_resume    11 non-null     object
 4   similarity_score  11 non-null     float32
 5   BM25_Score        11 non-null     float64
dtypes: float32(1), float64(1), int64(1), object(3)
memory usage: 572.0+ bytes

In [356]:
# Step 1: Normalize Cosine Similarity Scores
scaler = MinMaxScaler()
updated_resumes_sorted['normalized_cosine'] = scaler.fit_transform(updated_resumes_sorted[['similarity_score']])

# Step 2: Normalize BM25 Scores
updated_resumes_sorted['normalized_bm25'] = scaler.fit_transform(updated_resumes_sorted[['BM25_Score']])

# Step 3: Compute Hybrid Score
w1, w2 = 0.5, 0.5
updated_resumes_sorted['hybrid_score'] = (
    w1 * updated_resumes_sorted['normalized_cosine'] +  w2 * updated_resumes_sorted['normalized_bm25'])

# Step 4: Sort by Hybrid Score
updated_resumes_sorted = updated_resumes_sorted.sort_values(by='hybrid_score', ascending=False)

# Display top results
print(updated_resumes_sorted[['cleaned_resume', 'similarity_score', 'BM25_Score', 'hybrid_score', 'chosen']])

                                       cleaned_resume  similarity_score  \
7   education details btech rayat bahra institute ...          0.700334
8   personal skills ability quickly grasp technica...          0.702186
10  hr consultant summary subject matter expert hr...          0.604349
3   skills r python sap hana tableau sap hana sql ...          0.548185
6   skills python tableau data visualization r stu...          0.668836
0   skills programming languages python pandas num...          0.693810
9   expertise data quantitative analysis decision ...          0.681737
2   areas interest deep learning control system de...          0.601863
1   education details may 2013 may 2017 uit-rgpvda...          0.609117
5   skills c basics iot python matlab data science...          0.535058
4   education details mca ymcaust faridabad haryan...          0.413073

    BM25_Score  hybrid_score  chosen
7    30.681499      0.919386       1
8    24.336544      0.832758       1
10   31.572081      0.765997       0
3    36.149254      0.733667       0
6    20.520494      0.721055       0
0    16.508494      0.707444       1
9    17.261120      0.697220       1
2     8.755708      0.438666       0
1     7.753676      0.437025       0
5     7.104779      0.299759       0
4     0.833060      0.000000       0

In [357]:
evaluation_results = evaluate_resume_ranking_general(updated_resumes_sorted)
print("Evaluation Results:")
print(evaluation_results)

Evaluation Results:
{'precision': 0.5, 'recall': 0.5, 'ordering_accuracy': 0, 'true_chosen_indices': [7, 8, 0, 9], 'predicted_top_indices': [7, 8, 10, 3], 'TP_count': 2, 'FP_count': 2, 'FN_count': 2, 'TN_count': 5, 'TP': {8, 7}, 'FP': {10, 3}, 'FN': {0, 9}, 'TN': {1, 2, 4, 5, 6}}

# try 12 knn metric='cosine' lower text

In [386]:
Data_Science_data = pd.read_csv("Data_Science_data.csv")

In [387]:
Data_Science_data

        Category                                             Resume  chosen
0   Data Science  Skills * Programming Languages: Python (pandas...       1
1   Data Science  Education Details \nMay 2013 to May 2017 B.E  ...       0
2   Data Science  Areas of Interest Deep Learning, Control Syste...       0
3   Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...       0
4   Data Science  Education Details \n MCA   YMCAUST,  Faridabad...       0
5   Data Science  SKILLS C Basics, IOT, Python, MATLAB, Data Sci...       0
6   Data Science  Skills â¢ Python â¢ Tableau â¢ Data Visuali...       0
7   Data Science  Education Details \n B.Tech   Rayat and Bahra ...       1
8   Data Science  Personal Skills â¢ Ability to quickly grasp t...       1
9   Data Science  Expertise â Data and Quantitative Analysis â...       1
10            HR  \n HR CONSULTANT       Summary       Subject m...       0

In [388]:
# Text preprocessing function
def preprocess_text(text):
    # Convert to lowercase
    text = text.lower()
    # Remove special characters (but keep numbers) keep 
    text = re.sub(r'[^a-zA-Z0-9-@\s]', '', text)
    # Tokenize text
    tokens = word_tokenize(text)
    # Remove stopwords
    stop_words = set(stopwords.words('english'))
    filtered_tokens = [word for word in tokens if word not in stop_words]
    return ' '.join(filtered_tokens)

In [389]:
Data_Science_data['cleaned_resume'] = Data_Science_data['Resume'].apply(preprocess_text)
Data_Science_data

,Category,Resume,chosen,cleaned_resume
0,Data Science,Skills * Programming Languages: Python (pandas...,1,skills programming languages python pandas num...
1,Data Science,Education Details \nMay 2013 to May 2017 B.E ...,0,education details may 2013 may 2017 uit-rgpvda...
2,Data Science,"Areas of Interest Deep Learning, Control Syste...",0,areas interest deep learning control system de...
3,Data Science,Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...,0,skills r python sap hana tableau sap hana sql ...
4,Data Science,"Education Details \n MCA YMCAUST, Faridabad...",0,education details mca ymcaust faridabad haryan...
5,Data Science,"SKILLS C Basics, IOT, Python, MATLAB, Data Sci...",0,skills c basics iot python matlab data science...
6,Data Science,Skills â¢ Python â¢ Tableau â¢ Data Visuali...,0,skills python tableau data visualization r stu...
7,Data Science,Education Details \n B.Tech Rayat and Bahra ...,1,education details btech rayat bahra institute ...
8,Data Science,Personal Skills â¢ Ability to quickly grasp t...,1,personal skills ability quickly grasp technica...
9,Data Science,Expertise â Data and Quantitative Analysis â...,1,expertise data quantitative analysis decision ...
10,HR,\n HR CONSULTANT Summary Subject m...,0,hr consultant summary subject matter expert hr...

In [390]:
# Load the pre-trained BERT model
model = SentenceTransformer('all-MiniLM-L6-v2')
# Generate BERT embeddings for resumes
resume_embeddings = model.encode(Data_Science_data['cleaned_resume'].tolist(), show_progress_bar=True)

# Convert embeddings to a NumPy array (for efficient computation)
resume_embeddings = np.array(resume_embeddings)
# Preprocess the job description
cleaned_job_desc = preprocess_text(job_describtion)

# Generate BERT embedding for the job description
job_desc_embedding = model.encode([cleaned_job_desc])

Batches:   0%|          | 0/1 [00:00<?, ?it/s]

In [391]:
# Perform KNN search
knn = NearestNeighbors(n_neighbors=10, metric='cosine')  # Using cosine similarity
knn.fit(resume_embeddings)

# Find the top nearest resumes to the job description
distances, indices = knn.kneighbors(job_desc_embedding)

# Update the original DataFrame with distances
Data_Science_data["knn_distance"] = float('inf')  # Initialize with a high value for all rows
for idx, dist in zip(indices[0], distances[0]):
    Data_Science_data.loc[idx, "knn_distance"] = dist  # Assign distances to the correct indices

# Sort the DataFrame by the new 'knn_distance' column
sorted_resumes = Data_Science_data.sort_values(by="knn_distance", ascending=True)

# Evaluate the ranking
evaluation_results = evaluate_resume_ranking_general(
    sorted_resumes,
    true_label_column="chosen"
)
# Print the evaluation metrics
print("Evaluation Results:")
for metric, value in evaluation_results.items():
    print(f"{metric}: {value}")

Evaluation Results:
precision: 1.0
recall: 1.0
ordering_accuracy: 1
true_chosen_indices: [8, 7, 0, 9]
predicted_top_indices: [8, 7, 0, 9]
TP_count: 4
FP_count: 0
FN_count: 0
TN_count: 7
TP: {8, 0, 9, 7}
FP: set()
FN: set()
TN: {1, 2, 3, 4, 5, 6, 10}

In [392]:
sorted_resumes

,Category,Resume,chosen,cleaned_resume,knn_distance
8,Data Science,Personal Skills â¢ Ability to quickly grasp t...,1,personal skills ability quickly grasp technica...,0.297814
7,Data Science,Education Details \n B.Tech Rayat and Bahra ...,1,education details btech rayat bahra institute ...,0.299666
0,Data Science,Skills * Programming Languages: Python (pandas...,1,skills programming languages python pandas num...,0.306190
9,Data Science,Expertise â Data and Quantitative Analysis â...,1,expertise data quantitative analysis decision ...,0.318263
6,Data Science,Skills â¢ Python â¢ Tableau â¢ Data Visuali...,0,skills python tableau data visualization r stu...,0.331164
1,Data Science,Education Details \nMay 2013 to May 2017 B.E ...,0,education details may 2013 may 2017 uit-rgpvda...,0.390883
10,HR,\n HR CONSULTANT Summary Subject m...,0,hr consultant summary subject matter expert hr...,0.395651
2,Data Science,"Areas of Interest Deep Learning, Control Syste...",0,areas interest deep learning control system de...,0.398137
3,Data Science,Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...,0,skills r python sap hana tableau sap hana sql ...,0.451815
5,Data Science,"SKILLS C Basics, IOT, Python, MATLAB, Data Sci...",0,skills c basics iot python matlab data science...,0.464942
4,Data Science,"Education Details \n MCA YMCAUST, Faridabad...",0,education details mca ymcaust faridabad haryan...,inf

### **Cosine Distance**
- **Cosine similarity** measures how similar two vectors are by calculating the cosine of the angle between them. 
  - A similarity score closer to **1** means the vectors are highly aligned (similar).
  - A score closer to **0** means the vectors are orthogonal (unrelated).
  
  Cosine **distance** is derived as:  
  {Cosine Distance} = 1 - {Cosine Similarity}

  Thus, **lower distance values** indicate higher similarity.



### Key Points:
1. **Lower Distance = Better Match**:
   - Resumes with smaller distances are better aligned with the job description's semantic meaning.
2. **Index Order Is Based on Proximity**:
   - KNN ranks resumes by closeness to the query (job description embedding).
3. **Cosine Distance Values**:
   - Values closer to **0** are more similar, while values closer to **1** are more dissimilar.

# try 13 knn metric='euclidean' lower text

In [28]:
Data_Science_data = pd.read_csv("Data_Science_data.csv")

In [29]:
# Text preprocessing function
def preprocess_text(text):
    # Convert to lowercase
    text = text.lower()
    # Remove special characters (but keep numbers) keep 
    text = re.sub(r'[^a-zA-Z0-9-@\s]', '', text)
    # Tokenize text
    tokens = word_tokenize(text)
    # Remove stopwords
    stop_words = set(stopwords.words('english'))
    filtered_tokens = [word for word in tokens if word not in stop_words]
    return ' '.join(filtered_tokens)

In [30]:
Data_Science_data['cleaned_resume'] = Data_Science_data['Resume'].apply(preprocess_text)
Data_Science_data

,Category,Resume,chosen,cleaned_resume
0,Data Science,Skills * Programming Languages: Python (pandas...,1,skills programming languages python pandas num...
1,Data Science,Education Details \nMay 2013 to May 2017 B.E ...,0,education details may 2013 may 2017 uit-rgpvda...
2,Data Science,"Areas of Interest Deep Learning, Control Syste...",0,areas interest deep learning control system de...
3,Data Science,Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...,0,skills r python sap hana tableau sap hana sql ...
4,Data Science,"Education Details \n MCA YMCAUST, Faridabad...",0,education details mca ymcaust faridabad haryan...
5,Data Science,"SKILLS C Basics, IOT, Python, MATLAB, Data Sci...",0,skills c basics iot python matlab data science...
6,Data Science,Skills â¢ Python â¢ Tableau â¢ Data Visuali...,0,skills python tableau data visualization r stu...
7,Data Science,Education Details \n B.Tech Rayat and Bahra ...,1,education details btech rayat bahra institute ...
8,Data Science,Personal Skills â¢ Ability to quickly grasp t...,1,personal skills ability quickly grasp technica...
9,Data Science,Expertise â Data and Quantitative Analysis â...,1,expertise data quantitative analysis decision ...
10,HR,\n HR CONSULTANT Summary Subject m...,0,hr consultant summary subject matter expert hr...

In [32]:
# Load the pre-trained BERT model
model = SentenceTransformer('all-MiniLM-L6-v2')
# Generate BERT embeddings for resumes
resume_embeddings = model.encode(Data_Science_data['cleaned_resume'].tolist(), show_progress_bar=True)

# Convert embeddings to a NumPy array (for efficient computation)
resume_embeddings = np.array(resume_embeddings)
# Preprocess the job description
cleaned_job_desc = preprocess_text(job_description)

# Generate BERT embedding for the job description
job_desc_embedding = model.encode([cleaned_job_desc])

Batches:   0%|          | 0/1 [00:00<?, ?it/s]

In [33]:
# Perform KNN search
knn = NearestNeighbors(n_neighbors=10, metric='euclidean')  # Using cosine similarity
knn.fit(resume_embeddings)

# Find the top nearest resumes to the job description
distances, indices = knn.kneighbors(job_desc_embedding)

# Update the original DataFrame with distances
Data_Science_data["euclidean_distance"] = float('inf')  # Initialize with a high value for all rows
for idx, dist in zip(indices[0], distances[0]):
    Data_Science_data.loc[idx, "euclidean_distance"] = dist  # Assign distances to the correct indices

# Sort the DataFrame by the new 'knn_distance' column
sorted_resumes = Data_Science_data.sort_values(by="euclidean_distance", ascending=True)

# Evaluate the ranking
evaluation_results = evaluate_resume_ranking_general(
    sorted_resumes,
    true_label_column="chosen"
)
# Print the evaluation metrics
print("Evaluation Results:")
for metric, value in evaluation_results.items():
    print(f"{metric}: {value}")

Evaluation Results:
precision: 1.0
recall: 1.0
ordering_accuracy: 1
true_chosen_indices: [8, 7, 0, 9]
predicted_top_indices: [8, 7, 0, 9]
TP_count: 4
FP_count: 0
FN_count: 0
TN_count: 7
TP: {8, 0, 9, 7}
FP: set()
FN: set()
TN: {1, 2, 3, 4, 5, 6, 10}

huggingface/tokenizers: The current process just got forked, after parallelism has already been used. Disabling parallelism to avoid deadlocks...
To disable this warning, you can either:
	- Avoid using `tokenizers` before the fork if possible
	- Explicitly set the environment variable TOKENIZERS_PARALLELISM=(true | false)

Iam using the **KNeighborsClassifier** with Euclidean distance to rank the resumes based on their similarity to the job description. 
### 1. **KNeighborsClassifier and Euclidean Distance**:
   - **KNeighborsClassifier** is used for classification tasks, and it finds the `k` nearest neighbors of a given point (in this case, the job description embedding) in a feature space (the resume embeddings).
   - **Euclidean distance** is the metric used to measure the "closeness" or similarity between the job description and the resumes. The smaller the Euclidean distance, the more similar the resume is to the job description.
   - The **Euclidean distance** between two points is calculated as the square root of the sum of the squared differences of their corresponding coordinates
   - **Smaller Euclidean distances indicate that the resumes are more similar to the job description.**

In [34]:
sorted_resumes

,Category,Resume,chosen,cleaned_resume,euclidean_distance
8,Data Science,Personal Skills â¢ Ability to quickly grasp t...,1,personal skills ability quickly grasp technica...,0.771770
7,Data Science,Education Details \n B.Tech Rayat and Bahra ...,1,education details btech rayat bahra institute ...,0.774166
0,Data Science,Skills * Programming Languages: Python (pandas...,1,skills programming languages python pandas num...,0.782548
9,Data Science,Expertise â Data and Quantitative Analysis â...,1,expertise data quantitative analysis decision ...,0.797826
6,Data Science,Skills â¢ Python â¢ Tableau â¢ Data Visuali...,0,skills python tableau data visualization r stu...,0.813835
1,Data Science,Education Details \nMay 2013 to May 2017 B.E ...,0,education details may 2013 may 2017 uit-rgpvda...,0.884175
10,HR,\n HR CONSULTANT Summary Subject m...,0,hr consultant summary subject matter expert hr...,0.889551
2,Data Science,"Areas of Interest Deep Learning, Control Syste...",0,areas interest deep learning control system de...,0.892342
3,Data Science,Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...,0,skills r python sap hana tableau sap hana sql ...,0.950595
5,Data Science,"SKILLS C Basics, IOT, Python, MATLAB, Data Sci...",0,skills c basics iot python matlab data science...,0.964305
4,Data Science,"Education Details \n MCA YMCAUST, Faridabad...",0,education details mca ymcaust faridabad haryan...,inf

# try 14 knn metric='euclidean' lower text bert-base-nli-mean-tokens

In [35]:
Data_Science_data = pd.read_csv("Data_Science_data.csv")

In [36]:
# Text preprocessing function
def preprocess_text(text):
    # Convert to lowercase
    text = text.lower()
    # Remove special characters (but keep numbers) keep 
    text = re.sub(r'[^a-zA-Z0-9-@\s]', '', text)
    # Tokenize text
    tokens = word_tokenize(text)
    # Remove stopwords
    stop_words = set(stopwords.words('english'))
    filtered_tokens = [word for word in tokens if word not in stop_words]
    return ' '.join(filtered_tokens)

In [37]:
Data_Science_data['cleaned_resume'] = Data_Science_data['Resume'].apply(preprocess_text)
Data_Science_data

,Category,Resume,chosen,cleaned_resume
0,Data Science,Skills * Programming Languages: Python (pandas...,1,skills programming languages python pandas num...
1,Data Science,Education Details \nMay 2013 to May 2017 B.E ...,0,education details may 2013 may 2017 uit-rgpvda...
2,Data Science,"Areas of Interest Deep Learning, Control Syste...",0,areas interest deep learning control system de...
3,Data Science,Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...,0,skills r python sap hana tableau sap hana sql ...
4,Data Science,"Education Details \n MCA YMCAUST, Faridabad...",0,education details mca ymcaust faridabad haryan...
5,Data Science,"SKILLS C Basics, IOT, Python, MATLAB, Data Sci...",0,skills c basics iot python matlab data science...
6,Data Science,Skills â¢ Python â¢ Tableau â¢ Data Visuali...,0,skills python tableau data visualization r stu...
7,Data Science,Education Details \n B.Tech Rayat and Bahra ...,1,education details btech rayat bahra institute ...
8,Data Science,Personal Skills â¢ Ability to quickly grasp t...,1,personal skills ability quickly grasp technica...
9,Data Science,Expertise â Data and Quantitative Analysis â...,1,expertise data quantitative analysis decision ...
10,HR,\n HR CONSULTANT Summary Subject m...,0,hr consultant summary subject matter expert hr...

In [38]:
# Load the pre-trained BERT model
model = SentenceTransformer('bert-base-nli-mean-tokens')
# Generate BERT embeddings for resumes
resume_embeddings = model.encode(Data_Science_data['cleaned_resume'].tolist(), show_progress_bar=True)

# Convert embeddings to a NumPy array (for efficient computation)
resume_embeddings = np.array(resume_embeddings)
# Preprocess the job description
cleaned_job_desc = preprocess_text(job_description)

# Generate BERT embedding for the job description
job_desc_embedding = model.encode([cleaned_job_desc])

Batches:   0%|          | 0/1 [00:00<?, ?it/s]

In [39]:
# Perform KNN search
knn = NearestNeighbors(n_neighbors=10, metric='euclidean')  # Using cosine similarity
knn.fit(resume_embeddings)

# Find the top nearest resumes to the job description
distances, indices = knn.kneighbors(job_desc_embedding)

# Update the original DataFrame with distances
Data_Science_data["euclidean_distance"] = float('inf')  # Initialize with a high value for all rows
for idx, dist in zip(indices[0], distances[0]):
    Data_Science_data.loc[idx, "euclidean_distance"] = dist  # Assign distances to the correct indices

# Sort the DataFrame by the new 'knn_distance' column
sorted_resumes = Data_Science_data.sort_values(by="euclidean_distance", ascending=True)

# Evaluate the ranking
evaluation_results = evaluate_resume_ranking_general(
    sorted_resumes,
    true_label_column="chosen"
)
# Print the evaluation metrics
print("Evaluation Results:")
for metric, value in evaluation_results.items():
    print(f"{metric}: {value}")

Evaluation Results:
precision: 0.5
recall: 0.5
ordering_accuracy: 0
true_chosen_indices: [8, 9, 0, 7]
predicted_top_indices: [6, 10, 8, 9]
TP_count: 2
FP_count: 2
FN_count: 2
TN_count: 5
TP: {8, 9}
FP: {10, 6}
FN: {0, 7}
TN: {1, 2, 3, 4, 5}

In [40]:
sorted_resumes

,Category,Resume,chosen,cleaned_resume,euclidean_distance
6,Data Science,Skills â¢ Python â¢ Tableau â¢ Data Visuali...,0,skills python tableau data visualization r stu...,9.792444
10,HR,\n HR CONSULTANT Summary Subject m...,0,hr consultant summary subject matter expert hr...,10.760959
8,Data Science,Personal Skills â¢ Ability to quickly grasp t...,1,personal skills ability quickly grasp technica...,11.281734
9,Data Science,Expertise â Data and Quantitative Analysis â...,1,expertise data quantitative analysis decision ...,12.131325
3,Data Science,Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...,0,skills r python sap hana tableau sap hana sql ...,12.859522
5,Data Science,"SKILLS C Basics, IOT, Python, MATLAB, Data Sci...",0,skills c basics iot python matlab data science...,13.394272
2,Data Science,"Areas of Interest Deep Learning, Control Syste...",0,areas interest deep learning control system de...,13.816492
0,Data Science,Skills * Programming Languages: Python (pandas...,1,skills programming languages python pandas num...,13.831991
1,Data Science,Education Details \nMay 2013 to May 2017 B.E ...,0,education details may 2013 may 2017 uit-rgpvda...,15.309902
7,Data Science,Education Details \n B.Tech Rayat and Bahra ...,1,education details btech rayat bahra institute ...,16.249722
4,Data Science,"Education Details \n MCA YMCAUST, Faridabad...",0,education details mca ymcaust faridabad haryan...,inf

# try 15 knn metric='cosin' lower text wih lemmatizer

In [41]:
Data_Science_data = pd.read_csv("Data_Science_data.csv")

In [43]:
# Text preprocessing function
def preprocess_text(text):
    # Convert to lowercase
    text = text.lower()
    
    # Remove special characters (but keep numbers and certain symbols like - and @)
    text = re.sub(r'[^a-zA-Z0-9-@\s]', '', text)
    
    # Tokenize text
    tokens = word_tokenize(text)
    
    # Remove stopwords
    stop_words = set(stopwords.words('english'))
    filtered_tokens = [word for word in tokens if word not in stop_words]
    
    # Perform lemmatization 
    lemmatizer = WordNetLemmatizer()
    lemmatized_tokens = [lemmatizer.lemmatize(word) for word in filtered_tokens]
    
    # Remove short tokens 
    cleaned_tokens = [word for word in lemmatized_tokens if len(word) > 1]
    
    return ' '.join(cleaned_tokens)

In [44]:
Data_Science_data['cleaned_resume'] = Data_Science_data['Resume'].apply(preprocess_text)
Data_Science_data

,Category,Resume,chosen,cleaned_resume
0,Data Science,Skills * Programming Languages: Python (pandas...,1,skill programming language python panda numpy ...
1,Data Science,Education Details \nMay 2013 to May 2017 B.E ...,0,education detail may 2013 may 2017 uit-rgpvdat...
2,Data Science,"Areas of Interest Deep Learning, Control Syste...",0,area interest deep learning control system des...
3,Data Science,Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...,0,skill python sap hana tableau sap hana sql sap...
4,Data Science,"Education Details \n MCA YMCAUST, Faridabad...",0,education detail mca ymcaust faridabad haryana...
5,Data Science,"SKILLS C Basics, IOT, Python, MATLAB, Data Sci...",0,skill basic iot python matlab data science mac...
6,Data Science,Skills â¢ Python â¢ Tableau â¢ Data Visuali...,0,skill python tableau data visualization studio...
7,Data Science,Education Details \n B.Tech Rayat and Bahra ...,1,education detail btech rayat bahra institute e...
8,Data Science,Personal Skills â¢ Ability to quickly grasp t...,1,personal skill ability quickly grasp technical...
9,Data Science,Expertise â Data and Quantitative Analysis â...,1,expertise data quantitative analysis decision ...
10,HR,\n HR CONSULTANT Summary Subject m...,0,hr consultant summary subject matter expert hr...

In [46]:
# Load the pre-trained BERT model
model = SentenceTransformer('all-MiniLM-L6-v2')
# Generate BERT embeddings for resumes
resume_embeddings = model.encode(Data_Science_data['cleaned_resume'].tolist(), show_progress_bar=True)

# Convert embeddings to a NumPy array (for efficient computation)
resume_embeddings = np.array(resume_embeddings)
# Preprocess the job description
cleaned_job_desc = preprocess_text(job_description)

# Generate BERT embedding for the job description
job_desc_embedding = model.encode([cleaned_job_desc])

Batches:   0%|          | 0/1 [00:00<?, ?it/s]

In [47]:
# Perform KNN search
knn = NearestNeighbors(n_neighbors=10, metric='cosine')  # Using cosine similarity
knn.fit(resume_embeddings)

# Find the top nearest resumes to the job description
distances, indices = knn.kneighbors(job_desc_embedding)

# Update the original DataFrame with distances
Data_Science_data["knn_distance"] = float('inf')  # Initialize with a high value for all rows
for idx, dist in zip(indices[0], distances[0]):
    Data_Science_data.loc[idx, "knn_distance"] = dist  # Assign distances to the correct indices

# Sort the DataFrame by the new 'knn_distance' column
sorted_resumes = Data_Science_data.sort_values(by="knn_distance", ascending=True)

# Evaluate the ranking
evaluation_results = evaluate_resume_ranking_general(
    sorted_resumes,
    true_label_column="chosen"
)
# Print the evaluation metrics
print("Evaluation Results:")
for metric, value in evaluation_results.items():
    print(f"{metric}: {value}")

Evaluation Results:
precision: 0.75
recall: 0.75
ordering_accuracy: 0
true_chosen_indices: [7, 8, 9, 0]
predicted_top_indices: [7, 8, 9, 6]
TP_count: 3
FP_count: 1
FN_count: 1
TN_count: 6
TP: {8, 9, 7}
FP: {6}
FN: {0}
TN: {1, 2, 3, 4, 5, 10}

In [48]:
sorted_resumes

,Category,Resume,chosen,cleaned_resume,knn_distance
7,Data Science,Education Details \n B.Tech Rayat and Bahra ...,1,education detail btech rayat bahra institute e...,0.275809
8,Data Science,Personal Skills â¢ Ability to quickly grasp t...,1,personal skill ability quickly grasp technical...,0.295288
9,Data Science,Expertise â Data and Quantitative Analysis â...,1,expertise data quantitative analysis decision ...,0.299158
6,Data Science,Skills â¢ Python â¢ Tableau â¢ Data Visuali...,0,skill python tableau data visualization studio...,0.300645
0,Data Science,Skills * Programming Languages: Python (pandas...,1,skill programming language python panda numpy ...,0.302103
2,Data Science,"Areas of Interest Deep Learning, Control Syste...",0,area interest deep learning control system des...,0.367970
3,Data Science,Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...,0,skill python sap hana tableau sap hana sql sap...,0.378930
1,Data Science,Education Details \nMay 2013 to May 2017 B.E ...,0,education detail may 2013 may 2017 uit-rgpvdat...,0.400415
10,HR,\n HR CONSULTANT Summary Subject m...,0,hr consultant summary subject matter expert hr...,0.405449
5,Data Science,"SKILLS C Basics, IOT, Python, MATLAB, Data Sci...",0,skill basic iot python matlab data science mac...,0.444486
4,Data Science,"Education Details \n MCA YMCAUST, Faridabad...",0,education detail mca ymcaust faridabad haryana...,inf

# try 16